aside {
  width: 50px;
  height: 100%;
  background-color: black;

  .desc {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
    height: 0;
  }
}

nav {
  ul {
    list-style: none;
    padding-left: rem(5);
  }
  li {
    display: flex;
    align-items: center;
    padding: rem(5) rem(5) rem(5) 0;
  }
}

.aside-open {
  width: 250px;

  .desc {
    visibility: visible;
    opacity: 1;
    height: rem(20);
    padding-left: rem(5);
    color: white;
  }
}