aside {
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: rem($asideSize);
  height: 100%;
  color: $grayBlack;
  background-color: $grayAside;
  overflow: hidden;
  border-right: rem(1) solid $gray200;

  .expand {
    display: flex;
    padding: {
      top: rem(20);
    };

    &[data-sidebar='true'] {
      justify-content: right;
      padding-right: rem(16);

      .lnbBtn {
        margin: 0;
      }
    }

    .lnbBtn {
      margin: auto;
      width: rem(28);
      height: rem(28);
      border: rem(1) solid $gray200;
      border-radius: rem(8);
      background-color: $grayWhite;
      
      img {
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }

  .chatbotBuilderTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: rem(12);
    padding: rem(16) rem(32);
    font-size: rem(20);
    font-weight: 700;

    .chatbotBuilderImg {
      width: rem(40);
      height: rem(40);
      border-radius: rem(6) ;
      background-image: url('@assets/icons/ic_chatbot_builder.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
 
    &[data-sidebar='false'] {
      padding: rem(16);
      .brandNameWrapper {
        padding: rem(6);
      }

      .brandNameImg {
        padding: rem(7);
        border-radius: rem(4);

        &::after {
          content: url('@assets/icons/ic_brand_name_default.svg');
          width: rem(18);
          height: rem(18);
        }

        &:hover {
          background-color: $grayBlack;
          &::after {
            width: rem(18);
            height: rem(18);
          }
        }

        &.selected {
          &::after {
            content: url('@assets/icons/ic_brand_name_selected.svg');
          }
        }
      }
    }

    img {
      height: rem(18);
      width: rem(18);
    }

    &[data-sidebar='true'] {
      .chatbotList {
        padding-left: rem(5);
        color: $primary200;
        font-size: rem(16);
        font-weight: 700;
        line-height: rem(17);
      }
    }
  }

  .lnbHeader {
    margin-top: rem(20);
    padding: 0 rem(16);

    img {
      width: rem(40);
      height: rem(40);
    }

    &[data-sidebar='true'] {
      &:hover {
        a {
          color: $gray300;
        }
      }
    }

    &[data-sidebar='false'] {
      padding: 0 rem(8);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: rem(6);

        // img {
        //   width: rem(40);
        //   height: rem(40);
        // }

        &::after {
          display: none;
        }
      }

      &:hover {
        div {
          background-color: $gray100;
        }
      }

      .headerName {
        background-color: $grayWhite;
      }
    }

    .headerName {
      display: flex;
      align-items: center;
      gap: rem(16);
      padding: rem(16);
      height: rem(72);
      color: $grayBlack;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: rem(4);
      background-color: $gray100;

      &.selected {
        // background-color: $grayBlack;
      }
      
      .botProfileImg {
        border: rem(1) solid $gray200;
        border-radius: rem(8);
        background-color: $grayWhite;

        &:has(.altImg) {
          padding: rem(8);
        }
        
        .altImg {
          width: rem(24) !important;
          height: rem(24) !important;
        }
      }

      .botName {
        font-size: rem(16);
        font-weight: 500;
      }

      .brandName {
        color: $gray300;
        font-size: rem(13);
        font-weight: 500;
        text-align: start;
      }

      &::after {
        display: inline-block;
        position: absolute;
        top: 30%;
        right: 10%;
        content: url('@assets/icons/ic_botlist.svg');
        width: rem(12);
        height: rem(12);
      }

      &:hover {
        &::after {
          content: url('@assets/icons/ic_botlist_hover.svg');
        }
      }
    }
  }

  .partnerLnbHeader {
    &[data-sidebar='true'] {
      margin: rem(4) rem(13);
      padding: rem(8) rem(12);
      border: 1px solid $gray500;
      border-radius: rem(4);
      &:hover {
        a {
          color: $gray300;
        }
      }
    }

    &[data-sidebar='false'] {
      padding: rem(3) rem(9) rem(6) rem(9);
      height: rem(45);
      div {
        line-height: 0.1;
        padding: rem(8);
        border-radius: rem(4);
      }
      &:hover {
        div {
          background-color: $graySelected;
        }
      }
    }

    & a {
      color: $grayWhite;

      .headerName {
        position: relative;
        padding-right: rem(12);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        &::after {
          display: inline-block;
          position: absolute;
          top: rem(1);
          right: 0;
          content: url('@assets/icons/ic_show.svg');
          width: rem(12);
          height: rem(12);
        }
      }
    }
  }

  .subMenuWrapper {
    margin: 0 rem(8);

    &[data-sidebar='true'] { 
      margin: 0 rem(16);
    }

    li {
      background-color: $gray100;
      
      &.selected {
        background-color: $primary150;
      }

      &:hover {
        background-color: $primary100;
        color: $grayWhite;
      }

      .desc {
        padding-left: rem(16);
        font-size: rem(16);
      }
    }

    .partnerLnbBtn {
      display: flex;
      align-items: center;
      margin : {
        top: rem(12);
        bottom: rem(28)
      }
      padding: rem(10);
      height: rem(56);
      border: rem(1) solid $gray200 ;
      border-radius: rem(6);
      background-color: $grayWhite;

      .desc {
        padding-left: rem(8);
        color: $primary500;
      }

      .partnersCenterImg {
        width: rem(32);
        height: rem(32);
        background-color: $primary500;
        border-radius: rem(6);
        background-image: url('@assets/icons/ic_partners_center.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
      
      &[data-sidebar='true'] {
        justify-content: start;
        text-align: center;
        padding: rem(16);

        .partnersCenterImg {
          margin-right: rem(4);
        }
        
        a {
          color: $grayBlack;
        }

        &:hover {
          background-color: $primary100;
        }
      }
    }
  }

  .chatbotName {
    padding-left: rem(12);
    color: $grayBlack;
  }

  .lnbBtn {
    cursor: pointer;
    width: rem(24);
    height: rem(24);
    margin-left: rem(6);
    padding: rem(4);
    border: 0;
    border-radius: rem(4);
    background-color: $grayAside;
  }

  .desc {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.mainNav {
  margin: rem(20) rem(8);

  &[data-sidebar='true'] {
    margin: rem(20) rem(16);

    li {
      padding: rem(16);
      height: rem(56);
      border-radius: rem(4);

      .desc {
        padding-left: rem(16);
        font-size: rem(16);
      }
    }
  }
}

nav {
  ul {
    list-style: none;
  }

  .selected {
    background-color: $primary100;

    .desc {
      color: $primary500;
    }

    &:hover {
      background-color: $primary150;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: rem(16);
    border-radius: rem(6);
    
    &:hover {
      background-color: $gray100;
    }

    .menuImg {
      line-height: 0.1;
      img {
        height: rem(24);
        width: rem(24);
      }
    }

    .desc {
      padding-left: rem(5);
      height: rem(19);
      color: $gray500;
      font-size: rem(13);
      font-weight: 500;
    }
  }
}

.aside-open {
  width: rem(294);
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 0 4px;

  .desc {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.3s linear;
    color: $gray500;
  }

  .chatbotName {
    transition: width 0.5s ease-in-out;
  }

  .chatbotBuilderTitle {
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.3s linear;
    color: $grayBlack;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      opacity: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
