.botBuilderWrapper {
  background-image: radial-gradient($gray200 10%, $gray150 10%);
  background-position: 0 0;
  background-size: rem(12) rem(12);
  height: 100%;
  // width: 100%;
  // 확인 필요
  width: calc(100vw - rem(220));
  height: calc(100vh - rem(51));
}

.botTesterWrapper {
  grid-column: 12/12;
}

.botBuilderCanvasBtn {
  padding: rem(12);
}

.botBuilderZoomBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: rem(12);
  width: rem(88);
  height: rem(33);
  left: rem(287);
  top: rem(106);
  background: $grayWhite;
  border: 1px solid $gray200;
  border-radius: rem(4);
  color: $gray500;
  font-size: rem(14);

  .minusZoomBtn {
    background-image: url('@assets/icons/ic_scenario_zoom_minus_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_zoom_minus_hover.svg');
    }
  }

  .plusZoomBtn {
    background-image: url('@assets/icons/ic_scenario_zoom_plus_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_zoom_plus_hover.svg');
    }
  }
}

.operationBtn {
  display: flex;
  gap: rem(4);

  .luna-btn {
    width: rem(32);
    height: rem(32);
  }

  .undo {
    background-image: url('@assets/icons/ic_scenario_undo_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_undo_hover.svg');
    }

    &:disabled {
      background-image: url('@assets/icons/ic_scenario_undo_disable.svg');
    }
  }

  .redo {
    background-image: url('@assets/icons/ic_scenario_redo_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_redo_hover.svg');
    }

    &:disabled {
      background-image: url('@assets/icons/ic_scenario_redo_disable.svg');
    }
  }
}

.botBuilderMain {
  padding-left: rem(12);
  height: 88%;

  overflow: hidden;

  &.react-draggable {
    overflow: hidden;
  }
  .react-draggable {
    display: inline-block;
  }

  .canvasWrapper {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.botBuilderDrawer {
  height: calc(100vh - rem(97));
  margin-top: rem(97);
  box-shadow: none !important;
  background: $gray150 !important;
  border-left: 1px solid $gray200;
  .header {
    background: $gray100;
    padding: rem(12);
    margin-bottom: rem(12);
    span {
      font-size: rem(16);
      font-weight: 500;
    }
  }
  .node-item-wrap {
    background: $gray100;
    padding: rem(12);
    margin-bottom: rem(12);
    .label {
      font-size: rem(15);
      font-weight: 500;
    }
    .required {
      font-size: rem(15);
      font-weight: 500;
      color: $red;
    }
  }
}
