.botBuilderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(7) rem(12);
  background-color: $gray100;
  border-bottom: 1px solid $gray200;

  .cardNumWrapper {
    width: rem(150);
    color: $gray500;
    .cardNum {
      max-width: fit-content;
      color: $primary700;
      font-weight: 700;
      line-height: rem(16);
    }
  }

  .makingBtnWrapper {
    display: flex;
    justify-content: center;
    gap: rem(40);

    // &[data-tutorial='true'] {
    //   pointer-events: none;

    //   .icBtnTemple button {
    //     box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    //     pointer-events: auto;
    //   }
    // } 

    .makingBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(8);

      .btnCategory {
        color: $gray500;
      }

      .btnWrapper {
        display: flex;
        gap: rem(8);

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(36);
          height: rem(36);
          padding: rem(11);
          border-radius: rem(4);
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: $grayWhite;
          }
        }

        .icText {
          background-image: url('@assets/icons/ic_text.svg');

          &:hover {
            background-image: url('@assets/icons/ic_text_hover.svg');
          }
        }

        .icBtnTemple {
          background-image: url('@assets/icons/ic_btn_temple.svg');

          &:hover {
            background-image: url('@assets/icons/ic_btn_temple_hover.svg');
          }
        }

        .icList {
          background-image: url('@assets/icons/ic_list.svg');

          &:hover {
            background-image: url('@assets/icons/ic_list_hover.svg');
          }
        }

        .icCommerce {
          background-image: url('@assets/icons/ic_commerce.svg');

          &:hover {
            background-image: url('@assets/icons/ic_commerce_hover.svg');
          }
        }
        .icCaroImg {
          background-image: url('@assets/icons/ic_caro_img.svg');
          &:hover {
            background-image: url('@assets/icons/ic_caro_img_hover.svg');
          }
        }

        .icCaroList {
          background-image: url('@assets/icons/ic_caro_list.svg');

          &:hover {
            background-image: url('@assets/icons/ic_caro_list_hover.svg');
          }
        }
        .icCaroCommerce {
          background-image: url('@assets/icons/ic_commerce.svg');
          &:hover {
            background-image: url('@assets/icons/ic_commerce_hover.svg');
          }
        }

        .icQuickBtn {
          background-image: url('@assets/icons/ic_quick_btn.svg');

          &:hover {
            background-image: url('@assets/icons/ic_quick_btn_hover.svg');
          }
        }
        .icCondition {
          background-image: url('@assets/icons/ic_condition.svg');
          &:hover {
            background-image: url('@assets/icons/ic_condition_hover.svg');
          }
        }

        .icCount {
          background-image: url('@assets/icons/ic_count.svg');

          &:hover {
            background-image: url('@assets/icons/ic_count_hover.svg');
          }
        }

        .icSetParameter {
          background-image: url('@assets/icons/ic_set_parameter.svg');
          
          &:hover {
            background-image: url('@assets/icons/ic_set_parameter_hover.svg');
          }
        }

        .icOtherFlowRedirect {
          background-image: url('@assets/icons/ic_other_flow_redirect.svg');

          &:hover {
            background-image: url('@assets/icons/ic_other_flow_redirect_hover.svg');
          }
        }

        .icJsonRequest {
          background-image: url('@assets/icons/ic_api_request.svg');

          &:hover {
            background-image: url('@assets/icons/ic_api_request_hover.svg');
          }
        }

        .icDataBasic {
          background-image: url('@assets/icons/ic_data_basic_card.svg');
        
          &:hover {
            background-image: url('@assets/icons/ic_data_basic_card_hover.svg');
          }
        }

        .icDataList {
          background-image: url('@assets/icons/ic_data_list_card.svg');
        
          &:hover {
            background-image: url('@assets/icons/ic_data_list_card_hover.svg');
          }
        }

        .icDataProduct {
          background-image: url('@assets/icons/ic_data_commerce_card.svg');
        
          &:hover {
            background-image: url('@assets/icons/ic_data_commerce_card_hover.svg');
          }
        }
      }
    }
  }

  .saveBtn {
    width: rem(150);
    text-align: end;
  }
}
