.botBuilderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(7) rem(12);
  background-color: $gray100;
  border-bottom: 1px solid $gray200;
  height: rem(51);
  overflow: hidden;

  .cardNumWrapper {
    width: rem(150);
    color: $gray500;
    .cardNum {
      max-width: fit-content;
      color: $primary700;
      font-weight: 700;
      line-height: rem(16);
    }
  }

  .makingBtnWrapper {
    display: flex;
    justify-content: center;
    gap: rem(40);




    .makingBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(8);

      // 튜토리얼 테스트 시작부분
      // &[data-tutorial='true'] {
      //   pointer-events: none;
        
      //   .luna-btn {
      //     background-color: rgba(0, 0, 0, .1);
      //     border: rem(1) solid rgba(0, 0, 0, .1);

      //     &.icBtnTemple span::after {
      //       @include box-arrow(left, $grayWhite, "도구 영역에서 버튼을 드래그하여 기본 카드 말풍선을 만들어보세요!"); 
      //       background: $grayWhite;
      //       border-radius: rem(8);
      //       padding: rem(20);

      //       position: absolute;
      //       content: "도구 영역에서 버튼을 드래그하여 기본 카드 말풍선을 만들어보세요!";
      //       top: rem(100);
      //       left: rem(50);
            
      //     }
      //   }
      //   .icBtnTemple {
      //     box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
      //     background-color: $grayWhite;
      //     pointer-events: auto;

      //     $arrow-color: #e74c3c;
      //     $arrow-size: 1rem;
      //     $arrow-border: 0.2rem;
          
      //     @-webkit-keyframes blink{
      //       0% {opacity: 0;}
      //       100% {opacity: 1;}
      //     }
          
      //     @-moz-keyframes blink{
      //       0% {opacity: 0;}
      //       100% {opacity: 1;}
      //     }
          
      //     @keyframes blink{
      //       0% {opacity: 0;}
      //       100% {opacity: 1;}
      //     }
          
      //     &::after, &::before {
      //       content: "";
      //       display: block;
      //       position: absolute;
      //       transition: all 0.5s ease-in-out;

      //       -webkit-animation: blink 0.5s ease-in-out infinite alternate;
      //       -moz-animation: blink 0.5s ease-in-out infinite alternate;
      //       animation: blink 0.5s ease-in-out infinite alternate;
      //     }

      //     &::before {
      //       top: rem(148);
      //       right: rem(10.5);
      //       width: rem(12);// 화살표 왼쪽
      //       height: rem(12); // 화살표 오른쪽
      //       transform-origin: 50% 50%;
      //       transform:  translate(0, -($arrow-size / 2)) rotate(135deg);
      //       box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
      //       border-radius: 0 $arrow-size*0.15 0 0;
      //     }
          
      //     &::after {
      //       top: 100%;
      //       right: 50;
      //       width: rem(3);
      //       height: rem(120); //라인 길이
      //       transform:  translate(0, -($arrow-border / 2)) rotate(180deg);
      //       background-color: $arrow-color;
      //     }
      //   }
      // } 
      // 튜토리얼 테스트 끝 부분

      .btnCategory {
        color: $gray500;
      }

      .btnWrapper {
        display: flex;
        gap: rem(8);

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(36);
          height: rem(36);
          border-radius: rem(4);
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: $grayWhite;
          }
        }

        .icText {
          background-image: url('@assets/icons/ic_text.svg');

          &:hover {
            background-image: url('@assets/icons/ic_text_hover.svg');
          }
        }

        .icBtnTemple {
          background-image: url('@assets/icons/ic_btn_temple.svg');

          &:hover {
            background-image: url('@assets/icons/ic_btn_temple_hover.svg');
          }
        }

        .icList {
          background-image: url('@assets/icons/ic_list.svg');

          &:hover {
            background-image: url('@assets/icons/ic_list_hover.svg');
          }
        }

        .icCommerce {
          background-image: url('@assets/icons/ic_commerce.svg');

          &:hover {
            background-image: url('@assets/icons/ic_commerce_hover.svg');
          }
        }
        .icCaroImg {
          background-image: url('@assets/icons/ic_caro_img.svg');
          &:hover {
            background-image: url('@assets/icons/ic_caro_img_hover.svg');
          }
        }

        .icCaroList {
          background-image: url('@assets/icons/ic_caro_list.svg');

          &:hover {
            background-image: url('@assets/icons/ic_caro_list_hover.svg');
          }
        }
        .icCaroCommerce {
          background-image: url('@assets/icons/ic_caro_commerce.svg');
          &:hover {
            background-image: url('@assets/icons/ic_caro_commerce_hover.svg');
          }
        }

        .icQuickBtn {
          background-image: url('@assets/icons/ic_quick_btn.svg');

          &:hover {
            background-image: url('@assets/icons/ic_quick_btn_hover.svg');
          }
        }
        .icCondition {
          background-image: url('@assets/icons/ic_condition.svg');
          &:hover {
            background-image: url('@assets/icons/ic_condition_hover.svg');
          }
        }

        .icCount {
          background-image: url('@assets/icons/ic_count.svg');

          &:hover {
            background-image: url('@assets/icons/ic_count_hover.svg');
          }
        }

        .icSetParameter {
          background-image: url('@assets/icons/ic_set_parameter.svg');
          
          &:hover {
            background-image: url('@assets/icons/ic_set_parameter_hover.svg');
          }
        }

        .icOtherFlowRedirect {
          background-image: url('@assets/icons/ic_other_flow_redirect.svg');

          &:hover {
            background-image: url('@assets/icons/ic_other_flow_redirect_hover.svg');
          }
        }

        .icJsonRequest {
          background-image: url('@assets/icons/ic_api_request.svg');

          &:hover {
            background-image: url('@assets/icons/ic_api_request_hover.svg');
          }
        }

        .icDataBasic {
          background-image: url('@assets/icons/ic_data_basic_card.svg');
        
          &:hover {
            background-image: url('@assets/icons/ic_data_basic_card_hover.svg');
          }
        }

        .icDataList {
          background-image: url('@assets/icons/ic_data_list_card.svg');
        
          &:hover {
            background-image: url('@assets/icons/ic_data_list_card_hover.svg');
          }
        }

        .icDataProduct {
          background-image: url('@assets/icons/ic_data_commerce_card.svg');
        
          &:hover {
            background-image: url('@assets/icons/ic_data_commerce_card_hover.svg');
          }
        }
      }
    }
  }

  .saveBtn {
    width: rem(150);
    text-align: end;
  }
}
