.botBuilderHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: rem(7) rem(12);
  background-color: $gray100;
  border-bottom: 1px solid $gray200;

  .botBuilderMakerWrapper {
    display: flex;
    flex-grow: 40;
    justify-content: left;
    align-items: center;
    gap: rem(30);

    .cardNumWrapper {
      position: relative;
      padding-right: rem(30);
      color: $gray500;

      .cardNum {
        color: $primary700;
        font-weight: 700;
        line-height: rem(16);
      }
    }

    .makingBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(8);

      .btnCategory {
        color: $gray500;
      }

      .btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(36);
        height: rem(36);
        padding: rem(11);
        border-radius: rem(4);
      }
    }
  }

  .saveBtn {
    // flex-grow: 1;
  }
}
