.botBuilderWrapper {
  background-image: radial-gradient($gray200 10%, $gray150 10%);
  background-position: 0 0;
  background-size: rem(12) rem(12);
  height: calc(100vh - rem(51));
  // 확인 필요
  width: calc(100vw - rem(275));
  overflow: hidden;
}

.botTesterWrapper {
  grid-column: 12/12;
}

.botBuilderCanvasBtn {
  padding: rem(12);
  padding-left: 0;
  position: relative;
  z-index: 200;
}

.botBuilderZoomBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: rem(12);
  width: rem(88);
  height: rem(33);
  left: rem(287);
  top: rem(106);
  background: $grayWhite;
  border: 1px solid $gray200;
  border-radius: rem(4);
  color: $gray500;
  font-size: rem(14);

  .minusZoomBtn {
    background-image: url('@assets/icons/ic_scenario_zoom_minus_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_zoom_minus_hover.svg');
    }
  }

  .plusZoomBtn {
    background-image: url('@assets/icons/ic_scenario_zoom_plus_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_zoom_plus_hover.svg');
    }
  }
}

.operationBtn {
  display: flex;
  gap: rem(4);

  .luna-btn {
    width: rem(32);
    height: rem(32);
    border-radius: rem(4);
  }

  .undo {
    background-image: url('@assets/icons/ic_scenario_undo_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_undo_hover.svg');
    }

    &:disabled {
      background-image: url('@assets/icons/ic_scenario_undo_disable.svg');
    }
  }

  .redo {
    background-image: url('@assets/icons/ic_scenario_redo_default.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('@assets/icons/ic_scenario_redo_hover.svg');
    }

    &:disabled {
      background-image: url('@assets/icons/ic_scenario_redo_disable.svg');
    }
  }
}

.botBuilderMain {
  padding-left: rem(12);
  height: 100%;

  overflow: hidden;

  &:focus {
    outline: none !important;
  }

  &:focus-within {
    outline: none !important;
  }

  &.react-draggable {
    overflow: hidden;
  }
  .react-draggable {
    display: inline-block;
  }

  .canvasWrapper {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.botBuilderDrawer {
  //  height: calc(100vh - rem(97));

  margin-top: rem(97);
  box-shadow: none !important;
  background: $gray150 !important;
  border-left: 1px solid $gray200;

  .wrapper::-webkit-scrollbar {
    width: rem(8);
    height: rem(8);
    background: transparent; /*스크롤바 뒷 배경 색상*/
  }

  .wrapper::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background-color: rgba(208, 221, 255, 0); /* 스크롤바의 색상 */
    border-radius: rem(18);
    transition: background-color 2s ease-out;
  }

  .wrapper:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15); /* 스크롤바의 색상 */
  }

  // .wrapper::-webkit-scrollbar {
  //   display: none;
  // }

  .wrapper {
    height: calc(100vh - rem(97));
    // overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    .header {
      background: $gray100;
      padding: rem(12);
      margin-bottom: rem(12);
      span {
        font-size: rem(16);
        font-weight: 500;
      }
    }
    .node-item-wrap {
      position: relative;
      background: $gray100;
      padding: rem(12);
      margin-bottom: rem(12);
      .label {
        font-size: rem(15);
        font-weight: 500;
      }
      .required {
        font-size: rem(15);
        font-weight: 500;
        color: $red;
      }

      .img {
        width: rem(64);
        height: rem(64);
        background-image: url('@assets/icons/ic_img.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $grayWhite;
        border: rem(1) dashed $gray200;
        border-radius: rem(6);

        &:hover {
          background-image: url('@assets/icons/ic_img_add_hover.svg');
          background-color: $primary100;
          border: rem(1) dashed $primary300;
        }
      }

      .addBtn {
        width: 100%;
        height: rem(40);
        background-color: $grayWhite;
        border: rem(1) dashed #b5b4b4;
        border-radius: rem(8);

        &:hover {
          background-image: url('@assets/icons/ic_img_add_hover.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-color: $primary100;
          border: rem(1) dashed $primary300;

          span {
            display: none;
          }
        }
      }

      .input {
        &.disabled {
          span {
            background-color: $gray150;
          }
          input {
            background-color: $gray150;
          }
        }
      }

      .joinWrapper {
        display: flex;
        justify-content: space-around;
        border: rem(1) solid $gray200;
        border-radius: rem(8);
        color: $primary500;
        background-color: $grayWhite;

        button {
          color: $primary500;
        }

        &.on {
          background-color: $primary500;
          color: $grayWhite;
          border-color: $primary500;

          button {
            color: $grayWhite;
          }
        }

        .join {
          width: 100%;

          div {
            display: flex;
            justify-content: center;
            align-items: center;

            &[data-join='and'] {
              border-radius: rem(8) 0 0 rem(8);
              position: relative;
              width: 100%;
            }

            &[data-join='or'] {
              border-radius: 0 rem(8) rem(8) 0;
              width: 100%;
            }
          }

          input[type='radio'] {
            display: none;
            border-radius: rem(8);
            width: 100%;
          }

          input[type='radio'] + div {
            background-color: $grayWhite;
            color: $primary500;
            height: rem(32);
          }

          input[type='radio']:checked + div {
            width: 100%;
            background-color: $primary500;
            color: $grayWhite;
            &::after {
              display: none;
            }
          }

          &.button {
            justify-content: center;
            width: 100%;
            height: rem(32);
          }
        }
      }

      .deleteBtn {
        display: flex;
        justify-content: center;
        padding-bottom: rem(25);

        button {
          color: $gray300;
          text-decoration: underline;

          &:hover {
            color: $primary500;
          }
        }
      }

      .itemProfileImg {
        padding: 0 !important;
      }

      .imgUploadLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(170);
        cursor: pointer;

        &.skeleton {
          .imgUploadWrapper {
            background: $grayWhite;
            border: rem(1) dashed $gray200;
            border-radius: rem(8);

            &:hover {
              height: 100%;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              border: rem(1) dashed $primary300;
              border-radius: rem(8);
            }

            .imgUploadSkeleton {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-flow: column;

              p {
                color: $gray500;
                font-size: rem(12);
                font-weight: 500;
              }

              img {
                width: rem(30);
                height: rem(30);
                border: none;
                background-color: $grayWhite;
              }
            }
          }
        }

        &.skeleton:hover {
          .imgUploadSkeleton {
            display: none;
          }

          .imgUploadWrapper {
            background: $primary100;
            background-image: url('@assets/icons/ic_img_add_hover.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        .imgUploadWrapper {
          width: rem(168);
          height: 100%;

          .imgUploadSkeleton {
            width: 100%;
            height: rem(168);

            img {
              width: 100%;
              height: rem(168);
              border: rem(1) solid $gray200;
              border-radius: rem(8);
              object-fit: contain;
              background-color: $gray150;
            }

            .imgNotFound {
              width: rem(30);
              height: rem(30);
            }
          }

          .imgUploadSkeleton:has(.imgNotFound) {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $grayWhite;
            border-radius: rem(8);

            .imgNotFound {
              border: none;
              background-color: $grayWhite;
              width: rem(30);
              height: rem(30);
            }
          }

          &.small {
            width: rem(64);
            height: rem(64);
            margin-bottom: rem(8);

            .imgUploadSkeleton {
              height: 100%;
            }

            img {
              width: 100%;
              max-width: rem(64);
              max-height: rem(64);
            }
          }

          &.small:hover {
            height: rem(64);
          }

          &.invalid {
            border: rem(1) solid $red;
            border-radius: rem(8);
          }
        }

        .rectangle {
          width: 100%;

          img {
            border: rem(1) solid $gray200;
            border-radius: rem(8);
            max-height: rem(168);
          }
        }
      }

      .imgUploadLabel:has(.small) {
        height: 100%;
      }
    }
  }
}
