.botTester {
  position: absolute;
  width: rem(400);
  height: calc(100vh - rem(120));
  right: rem(10);
  bottom: rem(10);
  background-color: $grayWhite;
  border: 1px solid $gray200;
  border-radius: rem(12);
  z-index: 300;

  .botTesterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: rem(45);
    border-bottom: 1px solid $gray150;
    padding-right: rem(15);
    cursor: move;

    .text {
      width: rem(308);
      height: rem(17);
      padding-left: rem(20);
      margin-right: rem(20);
      text-align: left;
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(17);
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(30);
      height: rem(30);
      background-color: $grayWhite;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
    .refreshBtn {
      background-image: url('@assets/icons/ic_refresh_default.svg');
      &:hover {
        background-image: url('@assets/icons/ic_refresh_hover.svg');
      }
    }

    .closeBtn {
      background-image: url('@assets/icons/ic_closed_default.svg');
      &:hover {
        background-image: url('@assets/icons/ic_closed_hover.svg');
      }
    }
  }

  .botTesterContent {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    height: calc(100% - rem(98));
    overflow-y: scroll;
    background-color: #99b0d7;
    padding: rem(10) 0 rem(10) rem(8);
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: pointer;

    .testerDataContainer {
      &[data-container='false'] {
        display: none;
      }
      .send {
        display: flex;
        justify-content: right;
        width: 100%;

        .sendMessage {
          max-width: rem(244);
          height: -webkit-fit-content;
          padding: rem(8) rem(14);
          background-color: #8de386;
          border: 1px solid #8de386;
          border-radius: rem(16);
          font-size: rem(13);
          line-height: rem(16);
        }
      }
      .reply {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;

        .replyMessage {
          width: rem(264);
          height: -webkit-fit-content;
          padding: rem(8) rem(14);
          background-color: $grayWhite;
          border: 1px solid $grayWhite;
          border-radius: rem(10);
          word-wrap: break-word;
          white-space: pre-wrap;
          &:hover {
            border: 1px solid $primary500;
          }
        }
      }

      .productCardContainer {
        width: 100%;
        position: relative;
        overflow: hidden;

        .productCardWrap {
          width: rem(264);
          margin-right: rem(10);
          border-radius: rem(16);
          border: 1px solid transparent;
          &:hover {
            border: 1px solid $primary500;
          }
          .productCard {
            height: rem(480);
            border-radius: rem(16);
            background-color: $grayWhite;

            .productCardImg_rectangle {
              width: 100%;
              height: rem(132);
              object-fit: contain;
              border-radius: rem(16) rem(16) 0 0;
            }

            .productCardImg_square {
              width: 100%;
              height: rem(264);
              object-fit: contain;
              border-radius: rem(16) rem(16) 0 0;
            }

            .productCardContents {
              padding: rem(8) rem(12) rem(1) rem(12);

              .productCardTitle {
                display: flex;
                align-content: center;
                padding-bottom: rem(8);
                border-bottom: 1px solid #d9d9d9;

                .title {
                  display: flex;
                  align-items: center;

                  .icon {
                    width: rem(24);
                    height: rem(24);
                    border-radius: rem(6);
                    margin-right: rem(8);
                  }
                  .name {
                    width: rem(200);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: rem(14);
                    line-height: rem(17);
                  }
                }
              }

              .productCardPrices {
                border-bottom: 1px solid #d9d9d9;
                margin-top: rem(8);

                .price {
                  display: flex;
                  justify-content: space-between;
                  font-weight: 500;

                  .currentPrice {
                    font-size: rem(18);
                    margin-bottom: rem(8);
                  }

                  .prevPrice {
                    height: rem(19);
                    font-size: rem(16);
                    color: $gray300;
                    text-decoration-line: line-through;
                  }
                }
                .discount {
                  margin-bottom: rem(5);

                  .discountAmount {
                    font-size: rem(14);
                    line-height: rem(17);
                    font-weight: 400;
                    color: #ff0000;
                  }
                }
              }

              .productContents {
                padding-top: rem(8);

                .productDesc {
                  display: flex;
                  align-items: center;
                  padding-bottom: rem(8);

                  .desc {
                    width: 100%;
                    height: fit-content;
                    font-size: rem(14);
                    color: #636364;
                  }
                }
                .rectangleImageBtn {
                  margin-bottom: rem(10);

                  button {
                    width: rem(240);
                    height: rem(35);
                    margin-top: rem(4);
                    border: none;
                    border-radius: rem(8);
                    cursor: pointer;
                    &:hover {
                      background-color: #75767a;
                    }
                  }
                }
                .squareImageBtn {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: rem(10);

                  button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: rem(240);
                    height: rem(37);
                    margin-right: rem(3);
                    white-space: nowrap;
                    font-size: rem(14);
                    border: none;
                    background-color: #dbdee5;
                    border-radius: rem(8);
                    &:hover {
                      background-color: #75767a;
                    }
                  }
                }
              }
            }
          }
        }

        .productCardBtn {
          position: absolute;
          top: 50%;

          .cardBtn {
            width: rem(30);
            height: rem(30);
            background-color: $grayWhite;
            background-color: yellow;
            opacity: 0.3;
            border: rem(1) solid $gray200;
            box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
            border-radius: rem(4);
          }
        }
      }

      .cardCarouselContainer {
        width: 100%;
        position: relative;
        overflow: hidden;

        .cardCarousel {
          width: rem(264);
          max-height: rem(420);
          padding-bottom: rem(10);
          background-color: $grayWhite;
          margin-right: rem(8);
          border-radius: rem(16);
          display: flex;
          flex-direction: column;
          align-items: center;

          &:hover {
            // border: 1px solid $primary500;
          }

          .cardCarouselImg_rectangle {
            width: rem(264);
            height: rem(132);
            object-fit: contain;
            border-radius: rem(16) rem(16) 0 0;
          }
          .cardCarouselImg_square {
            width: 100%;
            height: rem(264);
            object-fit: contain;
            border-radius: rem(16) rem(16) 0 0;
          }
          .cardCarouselContents {
            width: rem(264);
            height: fit-content;
            padding: rem(16) rem(12);
            .cardCarouselTitle {
              font-weight: 700;
              font-size: rem(14);
              line-height: rem(17);
            }
            .cardCarouselDesc {
              height: rem(20);
              font-weight: 400;
              font-size: rem(14);
              line-height: rem(17);
            }
          }

          .luna-testerItem-cardCarouselBtn {
            width: rem(240);
            height: rem(35);
            margin: rem(2) 0 rem(2) 0;
            border: none;
            border-radius: rem(8);
            cursor: pointer;
            &:hover {
              background-color: #75767a;
            }
          }
        }
      }

      .basicCardContainer {
        width: rem(264);
        background-color: $grayWhite;
        border-radius: rem(16);
        padding-bottom: rem(12);

        .cardImg_rectangle {
          width: rem(264);
          height: rem(132);
          object-fit: contain;
          border-radius: rem(16) rem(16) 0 0;
        }
        .cardImg_square {
          width: 100%;
          height: rem(264);
          object-fit: contain;
          border-radius: rem(16) rem(16) 0 0;
        }

        .cardText {
          word-break: break-all;
          height: fit-content;
          display: flex;
          flex-direction: column;
          padding: rem(16) rem(12);
          gap: rem(4);

          .cardTitle {
            font-size: rem(14);
            line-height: rem(17);
            font-weight: 700;
          }
          .cardContextText {
            font-weight: 400;
          }
        }
        .cardBtnList {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(4);

          .luna-testerItem-cardBtn {
            width: rem(240);
            height: rem(35);
            border: none;
            border-radius: rem(8);
            background-color: #dbdee5;
            &:hover {
              background-color: #75767a;
            }
          }
        }
        &:hover {
          // border: 1px solid $primary500;
        }
      }

      .listCardContainer {
        width: 100%;
        position: relative;
        overflow: hidden;
        .listCard {
          width: rem(264);
          margin-right: rem(10);
          max-height: rem(900);
          background-color: $grayWhite;
          border-radius: rem(16);
          padding-bottom: rem(10);
          .header {
            width: 100%;
            height: rem(46);
            border-radius: rem(16) rem(16) 0 0;
            padding: rem(12);
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(22);
          }
          .listCardImg_rectangle {
            width: 100%;
            height: rem(132);
            object-fit: contain;
            margin-bottom: rem(8);
          }
          .listCardImg_square {
            width: 100%;
            height: rem(264);
            object-fit: contain;
            margin-bottom: rem(8);
          }

          .dividerWrap {
            margin: 0 rem(10);
          }
          .cardList {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            padding: rem(0) rem(12);

            .listInfo {
              max-width: rem(180);

              .infoTitle {
                word-break: break-all;
                font-weight: 500;
                font-size: rem(16);
                line-height: rem(19);
                color: $grayBlack;
                margin-bottom: rem(4);
              }
              .infoDesc {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: $gray500;
              }
            }
            .listImg {
              width: rem(52);
              height: rem(52);
              border: rem(1) solid $gray200;
              border-radius: rem(4);
              img {
                width: 100%;
                height: 100%;
                border-radius: rem(3);
              }
            }
          }

          .listCardBtns {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: rem(10);
            gap: rem(4);

            .luna-testerItem-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              width: rem(240);
              height: rem(37);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: rem(14);
              border: none;
              background-color: #dbdee5;
              border-radius: rem(8);
              &:hover {
                background-color: #75767a;
              }
            }
          }
          &:hover {
            // border: 1px solid $primary500;
          }
        }
      }

      .quickReplies {
        position: relative;
        width: 100%;
        margin-top: rem(10);
        padding-left: rem(40);

        .luna-testerItem-quickReplyBtn {
          display: flex;
          align-items: center;
          padding: rem(8) rem(14);
          margin-right: rem(8);
          min-width: fit-content;
          border: 1px solid #3b4661;
          background-color: #3b4661;
          border-radius: rem(16);
          color: $grayWhite;
          cursor: pointer;
        }
      }

      .contentsList {
        display: flex;
        flex-direction: column;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .contents {
          .content {
            width: rem(300);
            height: rem(150);
            background-color: $grayWhite;
            margin: rem(10) rem(5) rem(10) 0;
            border-radius: rem(10);
            display: flex;
            flex-direction: column;
            align-items: center;

            .contentImg {
              height: rem(100);
              border-radius: rem(10) rem(10) 0 0;
            }

            .contentBtn {
              width: 90%;
              height: rem(30);
              margin-top: rem(10);
              border: none;
              border-radius: rem(7);
            }
          }
        }
      }
      .contentsList::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .botTesterContent::-webkit-scrollbar {
    width: rem(8);
    height: rem(8);
    background-color: rgba(208, 221, 255, 0);
  }

  .botTesterContent::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: rgba(208, 221, 255, 0);
    border-radius: rem(18);
    transition: background-color 2s ease-out;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(208, 221, 255, 0.8);
  }

  .botTesterInput {
    height: rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray150;

    .input {
      width: rem(303);
      height: rem(33);
      background-color: $gray100;
      border: 1px solid $gray100;
      border-radius: rem(99);
      padding: rem(8) rem(16);
      margin-right: rem(8);
    }

    .sendBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: rem(2);
      width: rem(49);
      height: rem(30);
      border: 1px solid $primary500;
      background-color: $primary500;
      border-radius: rem(8);
      padding: rem(8) rem(10);
      color: $grayWhite;

      &:hover {
        background-color: $primary700;
      }
    }
  }
}
