.botTester {
  position: absolute;
  width: rem(400);
  height: calc(100vh - rem(240));
  right: rem(10);
  bottom: rem(10);
  background-color: $grayWhite;
  border: 1px solid $gray200;
  border-radius: rem(12);
  z-index: 300;

  .botTesterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: rem(45);
    border-bottom: 1px solid $gray150;
    padding-right: rem(15);
    cursor: move;

    .text {
      width: rem(308);
      height: rem(17);
      padding-left: rem(20);
      margin-right: rem(20);
      text-align: left;
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(17);
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(30);
      height: rem(30);
      background-color: $grayWhite;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
    .refreshBtn {
      background-image: url('@assets/icons/ic_refresh_default.svg');
      &:hover {
        background-image: url('@assets/icons/ic_refresh_hover.svg');
      }
    }

    .closeBtn {
      background-image: url('@assets/icons/ic_closed_default.svg');
      &:hover {
        background-image: url('@assets/icons/ic_closed_hover.svg');
      }
    }
  }

  .botTesterContent {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    height: calc(100% - rem(98));
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $tester-bg;
    padding: rem(10) 0 rem(10) rem(8);
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: pointer;

    .testerDataContainer {
      &[data-container='false'] {
        display: none;
      }
      .send {
        display: flex;
        justify-content: right;
        width: 100%;

        .sendMessage {
          word-break: break-all;
          max-width: rem(244);
          height: -webkit-fit-content;
          padding: rem(8) rem(14);
          background-color: #8de386;
          border: 1px solid #8de386;
          border-radius: rem(16);
          font-size: rem(13);
          line-height: rem(16);
        }
      }
      .reply {
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;

        .replyMessage {
          width: rem(264);
          height: -webkit-fit-content;
          padding: rem(8) rem(14);
          background-color: $grayWhite;
          border-radius: rem(10);
          word-wrap: break-word;
          white-space: pre-wrap;
          border: 1px solid $tester-bg;
          &:hover {
            border: 1px solid $primary500;
          }
        }
      }

      .productCardContainer {
        width: 100%;
        position: relative;
        overflow: hidden;

        .productCard {
          width: rem(264);
          margin-right: rem(10);
          border-radius: rem(16);
          border: 1px solid transparent;
          max-height: rem(512);
          border-radius: rem(16);
          background-color: $grayWhite;
          border: 1px solid $tester-bg;

          &:hover {
            border: 1px solid $primary500;
          }

          .productCardImg_rectangle {
            width: 100%;
            height: rem(131);
            object-fit: contain;
            border-radius: rem(16) rem(16) 0 0;
          }

          .productCardImg_square {
            width: 100%;
            height: rem(264);
            object-fit: contain;
            border-radius: rem(16) rem(16) 0 0;
          }

          .productCardContents {
            padding: rem(12);

            .productCardTitle {
              display: flex;
              align-content: center;
              padding-bottom: rem(8);
              border-bottom: 1px solid #d9d9d9;

              .title {
                display: flex;
                align-items: center;
                gap: rem(8);
                word-break: break-all;

                .icon {
                  width: rem(24);
                  height: rem(24);
                  border-radius: rem(6);
                }
              }
            }

            .productCardCarouselWrap {
              display: flex;
              flex-direction: column;
              height: rem(168);
              &.productCarouselRectangleImageWrap {
                height: rem(248);
              }
            }

            .productCardPrices {
              border-bottom: 1px solid #d9d9d9;
              margin-top: rem(8);

              .price {
                display: flex;
                justify-content: space-between;
                font-weight: 500;

                .currentPrice {
                  font-size: rem(18);
                  margin-bottom: rem(8);
                }

                .prevPrice {
                  height: rem(19);
                  font-size: rem(16);
                  color: $gray300;
                  text-decoration-line: line-through;
                }
              }
              .discount {
                margin-bottom: rem(5);

                .discountAmount {
                  font-size: rem(14);
                  line-height: rem(17);
                  font-weight: 400;
                  color: #ff0000;
                }
              }
            }

            .productContents {
              padding-top: rem(8);
              &.productCarouselContents {
                height: rem(130);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
              &.productCarouselRectangleImageContents {
                height: rem(210);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }

              .productDesc {
                display: flex;
                padding-bottom: rem(8);
                word-break: break-all;
              }
            }
          }
        }

        .productCardBtn {
          position: absolute;
          top: 50%;

          .cardBtn {
            width: rem(30);
            height: rem(30);
            background-color: $grayWhite;
            background-color: yellow;
            opacity: 0.3;
            border: rem(1) solid $gray200;
            box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
            border-radius: rem(4);
          }
        }
      }

      .cardCarouselContainer {
        width: 100%;
        position: relative;
        overflow: hidden;

        .cardCarousel {
          width: rem(264);
          max-height: rem(465);
          background-color: $grayWhite;
          margin-right: rem(8);
          border-radius: rem(16);
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid $tester-bg;

          &:hover {
            border: 1px solid $primary500;
          }

          .cardCarouselImg_rectangle {
            width: rem(264);
            height: rem(132);
            object-fit: contain;
            border-radius: rem(16) rem(16) 0 0;
          }
          .cardCarouselImg_square {
            width: 100%;
            height: rem(264);
            object-fit: contain;
            border-radius: rem(16) rem(16) 0 0;
          }
          .cardCarouselContents {
            width: rem(264);
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: rem(10);
            padding: rem(12);

            .cardCarouselTitle {
              font-weight: 700;
              font-size: rem(14);
              line-height: rem(17);
            }
            .cardCarouselDesc {
              font-weight: 400;
              font-size: rem(14);
              line-height: rem(17);
            }
          }

          .luna-testerItem-cardCarouselBtn {
            width: rem(240);
            height: rem(35);
            margin: rem(2) 0 rem(2) 0;
            border: none;
            border-radius: rem(8);
            cursor: pointer;
            &:hover {
              background-color: #75767a;
            }
          }
        }
      }

      .basicCardContainer {
        width: rem(264);
        background-color: $grayWhite;
        border-radius: rem(16);
        border: 1px solid $tester-bg;

        .cardImg_rectangle {
          width: rem(264);
          height: rem(132);
          object-fit: contain;
          border-radius: rem(16) rem(16) 0 0;
        }
        .cardImg_square {
          width: 100%;
          height: rem(264);
          object-fit: contain;
          border-radius: rem(16) rem(16) 0 0;
        }

        .cardText {
          word-break: break-all;
          height: fit-content;
          display: flex;
          flex-direction: column;
          padding: rem(12);
          gap: rem(8);

          .cardTitle {
            font-size: rem(14);
            line-height: rem(17);
            font-weight: 700;
          }
          .cardContextText {
            font-weight: 400;
          }
        }

        &:hover {
          border: 1px solid $primary500;
        }
      }

      .listCardContainer {
        width: 100%;
        position: relative;
        overflow: hidden;
        .listCard {
          width: rem(264);
          margin-right: rem(10);
          max-height: rem(900);
          background-color: $grayWhite;
          border-radius: rem(16);
          border: 1px solid $tester-bg;
          .header {
            width: 100%;
            height: rem(46);
            border-radius: rem(16) rem(16) 0 0;
            padding: rem(12);
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(22);
            word-break: break-all;
          }
          .listCardImg_rectangle {
            width: 100%;
            height: rem(132);
            object-fit: contain;
          }
          .listCardImg_square {
            width: 100%;
            height: rem(264);
            object-fit: contain;
          }
          .listCardContentsWrap {
            display: flex;
            flex-direction: column;
            padding: rem(10);
            .listCardContents {
              .listCardContent {
                .cardList {
                  width: 100%;
                  height: fit-content;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .listInfo {
                    display: flex;
                    flex-direction: column;
                    gap: rem(2);
                    max-width: rem(180);

                    .infoTitle {
                      height: rem(38);
                      display: flex;
                      align-items: center;
                      word-break: break-all;
                      font-weight: 500;
                      font-size: rem(16);
                      line-height: rem(19);
                      color: $grayBlack;
                    }
                    .infoDesc {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 16px;
                      color: $gray500;
                      word-break: break-all;
                    }
                  }
                  .listImg {
                    width: rem(52);
                    height: rem(52);
                    border: rem(1) solid $gray200;
                    border-radius: rem(4);
                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: rem(3);
                    }
                  }
                }
              }
            }
            .listCardCarouselRectangleImageContents {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              max-height: rem(513);
            }
            .listCardCarouselSqureImageContents {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              max-height: rem(453);
            }
          }
          &:hover {
            border: 1px solid $primary500;
          }
        }
      }

      .quickReplies {
        position: relative;
        width: 100%;
        margin-top: rem(10);
        padding-left: rem(40);

        .luna-testerItem-quickReplyBtn {
          display: flex;
          align-items: center;
          padding: rem(8) rem(14);
          margin-right: rem(8);
          min-width: fit-content;
          border: 1px solid #3b4661;
          background-color: #3b4661;
          border-radius: rem(16);
          color: $grayWhite;
          cursor: pointer;
        }
      }

      .contentsList {
        display: flex;
        flex-direction: column;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .contents {
          .content {
            width: rem(300);
            height: rem(150);
            background-color: $grayWhite;
            margin: rem(10) rem(5) rem(10) 0;
            border-radius: rem(10);
            display: flex;
            flex-direction: column;
            align-items: center;

            .contentImg {
              height: rem(100);
              border-radius: rem(10) rem(10) 0 0;
            }

            .contentBtn {
              width: 90%;
              height: rem(30);
              margin-top: rem(10);
              border: none;
              border-radius: rem(7);
            }
          }
        }
      }
      .contentsList::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .botTesterContent::-webkit-scrollbar {
    width: rem(8);
    height: rem(8);
    background-color: rgba(208, 221, 255, 0);
  }

  .botTesterContent::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: rgba(208, 221, 255, 0);
    border-radius: rem(18);
    transition: background-color 2s ease-out;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(208, 221, 255, 0.8);
  }

  .botTesterInput {
    height: rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray150;

    .input {
      width: rem(303);
      height: rem(33);
      background-color: $gray100;
      border: 1px solid $gray100;
      border-radius: rem(99);
      padding: rem(8) rem(16);
      margin-right: rem(8);
    }

    .sendBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: rem(2);
      width: rem(49);
      height: rem(30);
      border: 1px solid $primary500;
      background-color: $primary500;
      border-radius: rem(8);
      padding: rem(8) rem(10);
      color: $grayWhite;

      &:hover {
        background-color: $primary700;
      }
    }
  }
}

div {
  div {
    div {
      .rectangleImageBtn {
        button {
          width: rem(240);
          height: rem(35);
          padding: rem(9) rem(12);
          margin-top: rem(4);
          border: none;
          border-radius: rem(8);
          cursor: pointer;
          &:hover {
            background-color: #75767a;
          }
        }
      }
      .squareImageBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(6);

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          word-break: break-all;
          max-width: rem(240);
          padding: rem(9) rem(12);
          height: rem(37);
          font-size: rem(14);
          border: none;
          background-color: #dbdee5;
          border-radius: rem(8);
          &:hover {
            background-color: #75767a;
          }
        }
      }
    }
  }
}
