.builderCard {
  width: rem(153);

  .thumbnail {
    text-align: center;
  }

  p {
    white-space: normal;
    word-break: break-all;
  }

  & div {
    width: 100%;
  }
}

.carouselWrapper {
  background-color: white;
}