.luna-btn {
  box-sizing: border-box;
  line-height: 14px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: rem(38);
  padding: rem(12) rem(16);
  font-size: 12px;
  border-radius: 8px;
  color: #636364;
  border-color: #dcdcdc;
  background: #fff;
  &:hover {
    background: #f0f0f0;
  }
  &:focus {
    border-color: #dcdcdc;
    box-shadow: 0 0 0 2px setAlpha(#dcdcdc, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
  &:disabled {
    background: #f5f5f5;
    border: 0;
    color: #dcdcdc;
    cursor: not-allowed;
  }
}

a.luna-btn {
  text-decoration: none;
  padding-top: 0.01px !important;
  line-height: 30px;
}

.luna-btn-circle {
  min-width: 38px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}

.luna-btn-primary {
  border: 0;
  background: $primaryColor;
  color: #ffffff;
  &:hover {
    background: $primaryHoverColor;
    color: #ffffff;
  }
  &:focus {
    color: #ffffff;
    background: $primaryHoverColor;
    box-shadow: 0 0 0 2px setAlpha($primaryHoverColor, 0.2);
  }
  &:disabled {
    background: $primaryDisabledColor;
    color: #ffffff;
  }
}

.luna-btn-secondary {
  border: 0;
  background: $secondaryColor;
  color: #ffffff;
  &:hover {
    background: $secondaryHoverColor;
    color: #636364;
  }
  &:focus {
    color: #636364;
    background: $secondaryHoverColor;
    box-shadow: 0 0 0 2px setAlpha(#929292, 0.2);
  }
  &:disabled {
    background: $secondaryDisabledColor;
    color: #dcdcdc;
  }
}
