.luna-btn {
  box-sizing: border-box;
  line-height: 14px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: rem(38);
  padding: rem(12) rem(16);
  font-size: 12px;
  border-radius: 8px;
  color: $gray500;
  border-color: $gray200;
  background: #fff;
  &:hover {
    background: $gray200;
  }
  &:focus-visible {
    @include focusVisible;
  }
  &:disabled {
    background: $gray100;
    border: 0;
    color: $gray200;
    cursor: not-allowed;
  }
  .icon {
    align-items: center;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.1em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    img {
      width: 12px;
      height: 12px;
    }
  }
  .icon + span {
    margin-inline-start: rem(4);
  }
}

a.luna-btn {
  text-decoration: none;
  padding-top: 0.01px !important;
  line-height: 30px;
}

.luna-btn-circle {
  min-width: 38px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;
}

.luna-btn-primary {
  border: 0;
  background: $primary500;
  color: #ffffff;
  &:hover {
    background: $primary700;
    color: #ffffff;
  }
  &:disabled {
    background: $primary200;
    color: #ffffff;
  }
}

.luna-btn-error {
  border: 0;
  background: $red;
  color: #ffffff;
  &:hover {
    background: $red700;
    color: #ffffff;
  }
  &:disabled {
    background: $red200;
    color: #ffffff;
  }
}

.luna-btn-secondary {
  border: 0;
  background: $gray500;
  color: #ffffff;
  &:hover {
    background: $gray300;
    color: $gray500;
  }
  &:disabled {
    background: $gray150;
    color: $gray200;
    &:hover {
      background-color: $gray150;
      color: $gray200;
    }
  }
}

.luna-btn-lineblue {
  border: 1px solid $primary500;
  background: $grayWhite;
  color: $primary500;
  &:hover {
    background: $primary150;
    color: $primary500;
  }
  &:disabled {
    background: $grayWhite;
    color: $primary200;
    border: 1px solid $primary200;
  }
}

.luna-btn-small {
  padding: rem(8) rem(10);
  height: rem(30);
}

.luna-btn-large {
  padding: rem(12) rem(16);
  width: rem(100);
  height: rem(38);
}

.luna-btn-block {
  width: 100%;
}

.luna-btn-ghost {
  border: 0;
  background: transparent;
  box-shadow: none;
  &:hover {
    background: transparent;
  }
  &:disabled {
    background: transparent;
  }
}

.luna-btn-disabled {
  border: 0;
  // background: $primary500;
  // color: #ffffff;
  background: $primary200;
  color: #ffffff;
  cursor: not-allowed;
  &:hover {
    background: $primary200;
    color: #ffffff;
  }
}

.sortableBtn {
  button {
    white-space: pre-wrap;
    height: 100%;
  }
}