.luna-carousel {
  border: 1px solid black;
  border-radius: rem(10);

    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;

    &:hover {
      border-color: blue;
      box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
    }
}

.luna-carousel-head {
  padding: rem(10);
}

.luna-carousel-body {
  display: flex;
  padding: rem(10);
  
  .luna-card {
    // margin: rem(10);
    width: rem(200);
    height: rem(260);
    gap: rem(10);
    
    .luna-card-body {
      display: flex;
      flex-wrap: wrap;
      gap: rem(14);

      .thumbnail {
        text-align: center;
      }

      & div {
        width: 100%;
      }
    }
  }

  .buttonWrapper {
    & button {
      display: block;
      width: 100%;
    }
  }
}