.checkboxContainer {
  div {
    display: flex;
    align-items: center;
    .checkbox {
      appearance: none;
      width: rem(20);
      height: rem(20);
      border: rem(1) solid $gray200;
      border-radius: rem(6);

      &:checked {
        border-color: transparent;
        background-image: url('/src/assets/icons/ic_check.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: $primary500;
      }

      &:disabled {
        border-color: transparent;
        background-image: url('/src/assets/icons/ic_check.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: $primary200;
      }
    }
    label {
      padding-left: rem(3);
    }
  }
}
