.node-item-wrap {
  &.collapse {
    padding: 0 !important;
  }

  .collapseTitle {
    display: flex;
    align-items: center;
    padding: rem(12) !important;
  }
  
  .collapseWrapper {
    padding: rem(12);
  
    &[data-collapsed='true'] {
      display: block;
      overflow: hidden;
      transition: max-height .5s ease;
    }
    
    &[data-collapsed='false'] {
      display: none;
    }
  }
}




