.dashboardWrap {
  padding: rem(20);
  padding-top: rem(40);
  max-width: rem(1140);
  margin-left: auto;
  margin-right: auto;
  .chatbot-wrap {
    padding-top: rem(20);
    padding-bottom: rem(12);
    .my-chatbot {
      font-size: rem(16);
      font-weight: 500;
      color: $grayBlack;
    }
    .chatbot-count {
      font-size: rem(16);
      font-weight: 700;
      color: $gray300;
    }
  }

  .new-chatbot {
    position: relative;
    height: rem(219);
    cursor: pointer;
    border-radius: rem(12);
    border: 1px dashed #6993ff;
    transition: all 0.3s ease-out;
    .title {
      position: absolute;
      display: flex;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $primary500;
      gap: rem(8);
    }
    .title-hover {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
    &:hover {
      background-color: #ecf2ff;
      .title {
        display: none;
      }
      .title-hover {
        display: block;
      }
    }
  }

  .chatbot-card {
    height: rem(219);
    transition: all 0.3s ease-out;
    cursor: pointer;
    .title {
      height: rem(89);
      padding: rem(20);
      .created {
        font-size: rem(12);
        font-weight: 500;
        color: #929292;
      }
      .bot-name {
        font-size: rem(16);
        font-weight: 700;
      }
    }
    .channel-title {
      font-size: rem(14);
      font-weight: 500;
    }
    .channel-name {
      font-size: rem(12);
      font-weight: 500;
      color: $primary500;
    }
    &:hover {
      border: 1px solid $primary200;
    }
  }
}
