.apiValidationHeader {
  padding-bottom: rem(8);
}

.apiResWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: rem(122);

  &[data-loading='true'] textarea {
    background: rgba(255, 255, 255, 0.8);
    color: $gray200;
  }

  .apiResLoading {
    margin: auto;
    z-index: 1;
  }

  textarea::-webkit-scrollbar {
    display: block;
    width: rem(8);
    height: rem(8);
    background: transparent;
  }

  textarea::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background-color: rgba(0, 0, 0, 0.15); /* 스크롤바의 색상 */
    border-radius: rem(18);
    transition: background-color 2s ease-out;
  }
}

.dataCardCrouselSlideBtns {
  display: flex;
  // gap: rem(8);
  padding: rem(8) 0 rem(12) 0;
  align-items: center;
  text-align: center;

  .counterBtn {
    background-color: $grayWhite;
    border: rem(1) solid $gray200;
    width: rem(40);
    height: rem(40);
    background-repeat: no-repeat;
    background-position: center;

    &.positive {
      background-image: url('@assets/icons/ic_counter_plus.svg');
    }

    &.positive[disabled] {
      background-image: url('@assets/icons/ic_counter_plus_disabled.svg');
    }

    &.negative {
      background-image: url('@assets/icons/ic_counter_minus.svg');
    }

    &.negative[disabled] {
      background-image: url('@assets/icons/ic_counter_minus_disabled.svg');
    }
  }
}

.dataRetailPriceWrapper {
  display: grid;
  justify-content: center;
  align-items: end;

  .dataRetailPrice {
    grid-column: 1/16;
  }

  .dataCurrencyUnit {
    grid-column: 17/24;
    display: grid;
    
    input {
      grid-row: 2/3;
    }
    .error-message {
      grid-row: 3/3;
    }
  }
}