.error-message {
  color: $red;
  font-size: rem(11);
  padding-top: rem(4);
  //height: rem(17);
}

.required {
  font-size: rem(15);
  font-weight: 500;
  color: $red;
}

.parameter-error {
  white-space: pre-wrap;
}
