@charset 'utf-8';
@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './layout';

$defaultSize: 16;

@function rem($px) {
  $x: $defaultSize;
  $result: (math.div(1, $x) * $px) + rem;
  @return $result;
}

a {
  text-decoration: none;
}

.border-radius-x-small {
  border-radius: 2px;
}

.border-radius-small {
  border-radius: 5px;
}

.border-radius-large {
  border-radius: 10px;
}

.border-radius-x-large {
  border-radius: 20px;
}
