@use 'sass:math';
@use 'sass:color';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

$defaultSize: 16;
$asideSize: 54;
$headerSize: 46;
$background: #f7f7fa;

@function rem($px) {
  $x: $defaultSize;
  $result: (math.div(1, $x) * $px) + rem;
  @return $result;
}

@function setAlpha($hex, $aValue) {
  @return color.change($hex, $alpha: $aValue);
}

/*****#####===== Color =====#####*****/
// Gray/Black
$grayBlack: #222222;
$gray100: #f7f7fa;
$gray150: #ededf0;
$gray200: #dcdcdc;
$gray250: #b5b4b4;
$gray300: #929292;
$gray500: #636364;
$gray700: #323232;
$grayDim: rgba(0, 0, 0, 0.5);
$grayBG: #f7f7fa;
$grayAside: #282828;
$graySelected: #151515;
$grayWhite: #ffffff;

// Primary
$primary100: #ecf2ff;
$primary150: #dfe8ff;
$primary200: #a1bbff;
$primary300: #6993ff;
$primary500: #4478ff;
$primary700: #2659de;

// Sub
$orange: #ff8a00;
$red: #ff4975;
$green: #03bf4e;
$progress-bg: #FFE4E9;

@mixin focusVisible {
  outline: 4px solid $gray300;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}

/*****#####===== Background =====#####*****/
@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*****#####===== Transition =====#####*****/
@mixin transition($property, $duration, $timing-function, $delay: null) {
  -webkit-transition: $property $duration $timing-function $delay;
  -ms-transition: $property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}

/*****#####===== Ratio box set =====#####*****/
@mixin ratioBox($x: 1, $y: 1) {
  display: block;
  position: relative;

  width: 100% !important;

  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-top: math.div($y, $x) * 100%;
  }

  &:hover .layer {
    opacity: 1;
  }
}

@mixin ratioContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin ratioLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  @include transition(all, 0.5s, ease-in-out);
}

$spaceamounts: (5, 8, 10, 12, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }

  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

$widthamounts: (100, 150, 200, 300, 500, 1000);
@each $width in $widthamounts {
  .w-#{$width} {
    width: #{$width}px !important;
  }

  .min-w-#{$width} {
    min-width: #{$width}px !important;
  }
}
