@use 'sass:math';
@use 'sass:color';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

$defaultSize: 16;
$asideSize: 56;
$background: #f7f7fa;

$primaryColor: #4478ff;
$primaryHoverColor: #2659de;
$primaryDisabledColor: #b4c9ff;

$secondaryColor: #636364;
$secondaryHoverColor: #929292;
$secondaryDisabledColor: #f1f1f1;

@function rem($px) {
  $x: $defaultSize;
  $result: (math.div(1, $x) * $px) + rem;
  @return $result;
}

@function setAlpha($hex, $aValue) {
  @return color.change($hex, $alpha: $aValue);
}

/*****#####===== Background =====#####*****/
@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*****#####===== Transition =====#####*****/
@mixin transition($property, $duration, $timing-function, $delay: null) {
  -webkit-transition: $property $duration $timing-function $delay;
  -ms-transition: $property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}

/*****#####===== Ratio box set =====#####*****/
@mixin ratioBox($x: 1, $y: 1) {
  display: block;
  position: relative;

  width: 100% !important;

  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-top: math.div($y, $x) * 100%;
  }

  &:hover .layer {
    opacity: 1;
  }
}

@mixin ratioContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin ratioLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  @include transition(all, 0.5s, ease-in-out);
}
