.luna-hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.luna-hamburger-wrapper {
  width: 18px;
  height: 12px;
}

.luna-hamburger-wrapper .luna-hamburger-line {
  transition: all 0.15s ease;
  background: #000000;
  border-radius: 0.125rem;
  position: relative;
  display: block;
  height: 2px;
}

.luna-hamburger-dark .luna-hamburger-line {
  background: #ffffff;
}

.luna-hamburger-wrapper .luna-hamburger-line:not(:last-child) {
  margin-bottom: 3px;
}

.luna-hamburger-opend .luna-hamburger-left .luna-hamburger-line:first-child,
.luna-hamburger-opend .luna-hamburger-left .luna-hamburger-line:last-child {
  left: -3px;
  transform: scaleX(0.6);
}

.luna-hamburger-opend .luna-hamburger-right .luna-hamburger-line:first-child,
.luna-hamburger-opend .luna-hamburger-right .luna-hamburger-line:last-child {
  width: 13px;
  transform: translateX(5px);
}
