header {
  padding-left: rem($asideSize + 22);
  padding-right: rem(12);
  background-color: $gray700;

  .headerWapper {
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    align-items: center;
    height: rem(46);

    .brandPage {
      color: $grayWhite;
      font-weight: 700;
      font-size: rem(16);

      .pageName {
        padding-left: rem(5);
        color: $primary200;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    .rightNav {
      //grid-column: 12/12;
      display: flex;
      align-items: center;
      gap: rem(5);

      .testerBtn {
        width: rem(50);
        padding: rem(8.5) rem(5.5);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary500;
        color: $grayWhite;
        font-size: rem(12);
        line-height: rem(14);
        border: none;
        border-radius: rem(6);
        cursor: pointer;
      }

      .languageBtn {
        padding: rem(8) rem(5.5);
        width: rem(32);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grayBlack;
        color: $grayWhite;
        font-size: rem(12);
        line-height: rem(14);
        border: 1px solid $grayBlack;
        border-radius: rem(6);
        cursor: pointer;
        &:hover {
          color: $gray300;
        }
      }

      .userName {
        position: relative;
        padding: rem(7) rem(10) rem(7) rem(25);
        text-align: center;
        color: $grayWhite;
        background-color: $grayBlack;
        border: 1px solid $grayBlack;
        border-radius: rem(6);
        font-size: rem(13);
        line-height: rem(16);
        cursor: pointer;

        &::before {
          position: absolute;
          display: inline-block;
          top: 27%;
          left: 14%;
          content: url('@assets/icons/ic_user.svg');
        }

        &:hover {
          color: $gray300;
        }
      }
    }
  }
}
