header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;

  .language {
    grid-column: 11/12;
  }

  .userName {
    grid-column: 12/12;
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: rem(5);
  }
}