.historyMain {
  margin-top: rem(30);
  margin: rem(30) rem(297);

  .historyMainTitle {
    font-weight: 700;
    font-size: rem(24);
    line-height: rem(29);
    color: $grayBlack;
  }

  .inquiryYear {
    align-items: center;
    padding-top: rem(18);
    gap: rem(12);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: $grayBlack;
  }

  .quickFilterWrapper {
    display: flex;
    align-items: center;
    padding-top: rem(12);
    padding-bottom: rem(19);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: $grayBlack;


    .filterTitle {
      padding-right: rem(12);
    }

    .filterBtnWrapper {
      display: flex;
      gap: rem(10);
    }
  }

  .historyListContainter {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  
    .historyListWarpper {
      gap: rem(12);
      padding: rem(32);
      width: rem(1120);      
      height: rem(149);
      background-color: $grayWhite;
      border: rem(1) solid $gray200;
      border-radius: rem(8);
      position: relative;

      &::after {
        display: inline-block;
        position: absolute;
        top: rem(-17);
        right: 20;
        content: '';
        width: rem(2);
        height: rem(16);
        background-color: $primary500;
      }

      &:first-child::after {
        display: none;
      }

      .historyList {
        .historyListCatetory {
          display: flex;
          align-items: center;
          padding-bottom: rem(6);
          font-weight: 500;
          font-size: rem(19);
          line-height: rem(19);
          color: $gray700;
          background-repeat: no-repeat;
          background-position: center;
          
          &[data-img='2'] {
            &::before {
              content: url('@assets/icons/ic_scenario_select_history.svg');
            }
          }

          &[data-img='4'] {
            &::before {
              content: url('@assets/icons/ic_utterance_select_history.svg');
            }
          }
          &[data-img='8'] {
            &::before {
              content: url('@assets/icons/ic_setting_select_history.svg');
            }
          }

          &[data-img='16'] {
            &::before {
              content: url('@assets/icons/ic_deploy_select_history.svg');
            }
          }

          img {
            width: rem(21.6);
            height: rem(21.6);
          }

          span {
            padding-left: rem(8);
          }

        }

        .historyListTitle {
          display: flex;
          padding-bottom: rem(8);
          font-weight: 500;
          font-size: rem(18);
          line-height: rem(22);
          color: $primary500;

          .viewerBtn {
            display: flex;
            flex-direction: row;
            gap: rem(8);
            margin-left: rem(8);
            padding: rem(5) rem(10);
            height: rem(24);
            background: $primary500;
            border-radius: rem(4);
            color: $grayWhite;

            &:hover {
              background-color: $primary700;
            }

            &::after {
              // position: absolute;
              content: url('@assets/icons/ic_history_viewer.svg');
              right: 10;
            }
          }
        }

        .historyListDesc {
          font-weight: 400;
          font-size: rem(16);
          line-height: rem(19);
          color: $grayBlack;
        }
      }

      .historyDateActorWrapper {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(17);
        color: $gray500;
        text-align: end;     
      }
    }
  }
}