.historyMain {
  margin: 0 auto;
  padding-top: rem(30);
  width: rem(1120);
  max-width: rem(1120);

  .historyMainTitle {
    font-weight: 700;
    font-size: rem(24);
    line-height: rem(29);
    color: $grayBlack;
  }

  .inquiryYear {
    align-items: center;
    padding-top: rem(18);
    gap: rem(12);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: $grayBlack;
  }

  .quickFilterWrapper {
    display: flex;
    align-items: center;
    padding-top: rem(12);
    padding-bottom: rem(19);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: $grayBlack;


    .filterTitle {
      padding-right: rem(12);
    }

    .filterBtnWrapper {
      display: flex;
      gap: rem(4);
    }
  }

  .historyListContainter {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    overflow: auto;
    max-height: calc(100vh - rem(255));
    scrollbar-width: none;

    .historyListWarpper {
      gap: rem(12);
      padding: rem(32);
      width: 100%;      
      max-height: 100%;
      background-color: $grayWhite;
      border: rem(1) solid $gray200;
      border-radius: rem(8);
      position: relative;

      &::after {
        display: inline-block;
        position: absolute;
        top: rem(-17);
        right: 20;
        content: '';
        width: rem(2);
        height: rem(16);
        background-color: $primary500;
      }

      // &:first-child::after {
      //   display: none;
      // }

      .historyList {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .historyListCatetory {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: rem(16);
          line-height: rem(19);
          color: $gray700;
          background-repeat: no-repeat;
          background-position: center;
          
          &::before {
            padding-top: rem(3);
          }

          &[data-img='2'] {
            &::before {
              content: url('@assets/icons/ic_scenario_select_history.svg');
            }
          }

          &[data-img='4'] {
            &::before {
              content: url('@assets/icons/ic_utterance_select_history.svg');
            }
          }

          &[data-img='8'] {
            &::before {
              content: url('@assets/icons/ic_setting_select_history.svg');
            }
          }

          &[data-img='16'] {
            &::before {
              content: url('@assets/icons/ic_deploy_select_history.svg');
            }
          }

          img {
            width: rem(21.6);
            height: rem(21.6);
          }

          span {
            padding-left: rem(8);
          }
        }

        .historyListTitle {
          display: flex;
          padding: rem(12) 0 rem(8) 0;
          font-weight: 500;
          font-size: rem(18);
          line-height: rem(22);
          color: $primary500;

          .viewerBtn {
            display: flex;
            flex-direction: row;
            gap: rem(8);
            margin-left: rem(8);
            padding: rem(5) rem(10);
            height: rem(24);
            background: $primary500;
            border-radius: rem(4);
            color: $grayWhite;

            &:hover {
              background-color: $primary700;
            }

            &::after {
              // position: absolute;
              content: url('@assets/icons/ic_history_viewer.svg');
              right: 10;
            }
          }
        }

        .historyListDesc {
          font-weight: 400;
          font-size: rem(16);
          line-height: rem(19);
          color: $grayBlack;
          white-space: pre-line;

          strong {
            color: $primary500;
          }
        }
      }

      .historyDateActorWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: rem(8);
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(17);
        color: $gray500;
        text-align: end;     
      }
    }

    .emptyList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: rem(60);
      width: 100%;
      text-align: center;
      color: $gray500;
      background: $grayWhite;
      border: rem(1) solid $gray200;
      border-radius: rem(8);

      span {
        padding-top: rem(10);
        white-space: pre-line;
      }
    }
  }

  .historyListContainter::-webkit-scrollbar {
    display: none;
  }
}

.historyViewerHeader {
  padding-left: rem(12);

  .rightNav {
    span {
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(17);
      color: $gray200;
    }
  }
}

.historyViewerMain {
  padding-left: 0;

  .scenarioWrapper {

    .botBuilderWrapper {
      width: 100%;

      .icNodeBottom {
        pointer-events: none;
      }

      .nextNode {
        pointer-events: none;
      }

      .carouselComponent {
        button {
          pointer-events: none ;
        }
      }

      .botBuilderDrawer {
        margin-top: rem(46);
        cursor: text;

        .imgUpload {
          pointer-events: none; 
        }

        .collapseTitle {
          pointer-events: none;
        }

        .radioContainer {
          pointer-events: none;
        }

        .imgUploadLabel {
          pointer-events: none;
        }

        .react-selector {
          pointer-events: none;
        }

        .joinWrapper {
          pointer-events: none;
        }

        .required {
          display: none;
        }

        .luna-btn {
          display: none;
        }

        .wrapper {
          height: calc(100vh);
        }

        .wrapper::-webkit-scrollbar {
          width: rem(8);
          height: rem(8);
          background: transparent; /*스크롤바 뒷 배경 색상*/
        }
      
        .wrapper::-webkit-scrollbar-thumb {
          height: 30%; /* 스크롤바의 길이 */
          background-color: rgba(208, 221, 255, 0); /* 스크롤바의 색상 */
          border-radius: rem(18);
          transition: background-color 2s ease-out;
        }
      
        .wrapper:hover::-webkit-scrollbar-thumb {
          background-color: rgba(208, 221, 255, .8); /* 스크롤바의 색상 */
        }

        .counterBtn {
          display: block;
        }

      }     
    }
  }
}