.textInput {
  width: 100%;
  padding: rem(12);
  resize: none;
  border: 1px solid $gray200;
  font-family: 'Pretendard';
  border-radius: rem(8);
}

// .textInput::-webkit-scrollbar {
//   display: none;
// }
.textInput::-webkit-scrollbar {
  width: rem(8);
  height: rem(8);
  background: transparent; /*스크롤바 뒷 배경 색상*/
}

.textInput::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background-color: rgba(0, 0, 0, 0.15); /* 스크롤바의 색상 */
  border-radius: rem(18);
  transition: background-color 2s ease-out;
}

.textareaWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .textareaLabel {
    padding-bottom: rem(8);
    font-size: rem(15);
    font-weight: 500;
    color: #000000;

    &.light {
      color: $gray500;
      font-size: rem(13);
    }
  }

  .textCounter {
    color: $gray300;
    font-size: rem(12);
    line-height: rem(14);
  }
}

.actValueIsUttrInput {
  ///max-height: rem(40);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.actValueIsUttrInput::-webkit-scrollbar {
  display: none;
}

.textNodeTextArea {
  //max-height: rem(320);
  overflow-y: auto;
  resize: none;

  &.jsonResOverlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
  }
}

// .textNodeTextArea::-webkit-scrollbar {
//   display: none;
// }


