.luna-input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: rem(34);
  min-width: 0;
  padding: 4px 11px;
  color: $grayBlack;
  font-size: rem(13);
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid $gray200;
  border-radius: rem(8);
  transition: all 0.3s;
  &:hover {
    border-color: $primary500;
    border-right-width: 1px;
  }
  &:focus {
    border-color: $primary500;
    box-shadow: 0 0 0 2px setAlpha($primary500, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
}

.luna-input-wrap {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: $grayBlack;
  font-size: rem(13);
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid $gray200;
  border-radius: rem(8);
  transition: all 0.3s;
  &:hover {
    border-color: $primary500;
    border-right-width: 1px;
  }
  &:focus-within {
    border-color: $primary500;
    box-shadow: 0 0 0 2px setAlpha($primary500, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
  .luna-input {
    padding: 0;
    height: rem(26);
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    flex: auto;
    &:focus {
      box-shadow: none;
    }
  }
  .count {
    line-height: 2;
  }
  .input-button {
    width: rem(16);
    height: rem(20);
    padding: rem(2) 0;
    span {
      width: rem(16);
      height: rem(16);
      .search {
        width: rem(16);
        height: rem(16);
        background-repeat: no-repeat;
        background-image: url('@assets/icons/ic_search.svg');
        &:hover {
          background-image: url('@assets/icons/ic_search_active.svg');
        }
      }
      .clear {
        background-image: url('@assets/icons/ic_search_delete.svg');
        &:hover {
          background-image: url('@assets/icons/ic_search_delete_active.svg');
        }
      }
    }
  }
}

.luna-input-error {
  border: 1px solid #f00;
  &:focus-within {
    border-color: #f00;
    box-shadow: 0 0 0 2px setAlpha(#f00, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
  &:hover {
    border-color: #f00;
    border-right-width: 1px;
  }
}

.luna-input-large {
  height: rem(49);
  font-size: rem(14);
  .luna-input {
    height: rem(40);
  }
  .input-button {
    width: rem(24);
    height: rem(20);
    padding: rem(2) rem(3);
  }
}
