html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', 'Pretendard-Regular', 'AppleSDGothicNeo',
    'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', '돋움', 'dotum', 'sans-serif';
}

#root {
  display: flex;
  flex-direction: row;
}

#layout {
  flex: auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  padding: rem(20);
  padding-left: rem($asideSize + 20);
  background-color: $background;
  overflow-y: auto;
}

footer {
  height: 25px;
  border-top: 1px solid #ccc;
}

.portal {
  z-index: 200;
}

* {
  box-sizing: border-box;
}

p {
  margin: rem(0);
}

a {
  text-decoration: none;
}

input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}

.border-radius-x-small {
  border-radius: rem(2);
}

.border-radius-small {
  border-radius: rem(5);
}

.border-radius-large {
  border-radius: rem(10);
}

.border-radius-x-large {
  border-radius: rem(20);
}

/*Space*/
.luna-space {
  display: inline-flex;
}

.luna-space-vertical {
  display: flex;
  flex-direction: column;
}

/*Divider*/
.luna-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.luna-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: rem(12) 0;
}
