.entityModal {
  width: rem(1080);
  height: rem(652);
  margin: auto;
  margin-top: calc(100vh - rem(770));
  padding: 0;
  border-radius: rem(12);
  background-color: $grayWhite;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray150;
    padding: rem(20) rem(20) 0 rem(20);
    cursor: pointer;
    .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        height: rem(40);
        font-size: rem(16);
        line-height: rem(19);
        padding: 0 rem(20);
      }
      .is-active {
        border-bottom: 4px solid $primary500;
      }
    }
    .closeBtn {
      width: rem(20);
      height: rem(20);
      border: none;
      background-color: $grayWhite;
      img {
        width: 100%;
      }
    }
  }
  .detail {
    border-bottom: 1px solid $gray150;
    padding-bottom: rem(10);
    .listBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: rem(5);
      }
    }
  }
  .entitiesContainer {
    height: rem(580);
    overflow-y: scroll;

    .entitiesWrapper {
      padding: rem(20);
      .entitiesTitle {
        margin-bottom: rem(12);
      }
      .entity {
        margin-bottom: rem(12);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      .entityDetailHeader {
        display: flex;
        justify-content: space-between;
      }
      .searchInput {
        margin: rem(12) 0;
        display: flex;
        justify-content: flex-end;
      }
      .registerEntry {
        div {
          div {
            div {
              form {
                div {
                  display: flex;
                }
              }
              display: flex;
              .entryList {
                width: rem(744);
                flex-wrap: wrap;
                min-height: rem(38);
                height: fit-content;
                margin-right: rem(8);
                border: 1px solid #dcdcdc;
                border-radius: rem(8);
                display: flex;
                align-items: center;
                .entries {
                  width: rem(744);
                  margin: rem(2) 0;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  .entryInput {
                    margin: rem(3);
                    padding: 4px 12px;
                    width: inherit;
                    border: 1px solid #dcdcdc;
                    height: rem(25);
                    border-radius: rem(8);
                    background-color: $grayWhite;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  .entry {
                    margin: rem(3);
                    padding: 4px 12px;
                    width: fit-content;
                    border: 1px solid #dcdcdc;
                    height: rem(25);
                    border-radius: rem(8);
                    background-color: $primary150;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .entryInput {
                      margin: rem(3);
                      padding: 4px 12px;
                      width: fit-content;
                      border: 1px solid #dcdcdc;
                      height: rem(25);
                      border-radius: rem(8);
                      background-color: $primary150;
                      white-space: nowrap;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                    .entryDeleteBtn {
                      margin-left: rem(7);
                      width: rem(13);
                      height: rem(13);
                      border: none;
                      background-color: transparent;
                      img {
                        width: 100%;
                      }
                    }
                  }
                }
                .addEntry {
                  margin-left: rem(4);
                  padding: 0 rem(4);
                  max-width: calc(100% - rem(32));
                  min-width: rem(98);
                  height: rem(25);
                  line-height: rem(25);
                  border-radius: rem(8);
                  background-color: $primary150;
                  overflow: hidden;
                  white-space: nowrap;
                }
                .visibleInput {
                  margin-left: rem(2);
                  padding-left: rem(4);
                  display: flex;
                  justify-items: center;
                  align-items: center;
                  width: rem(63);
                  height: rem(25);
                  border: 1px solid $gray200;
                  border-radius: rem(99);
                  background-color: $grayWhite;
                }
                .addBtnWrapper {
                  position: relative;
                  margin-left: rem(2);
                  display: flex;
                  justify-items: center;
                  align-items: center;
                  width: rem(63);
                  height: rem(25);
                  border: 1px solid $gray200;
                  border-radius: rem(99);
                  background-color: $grayWhite;

                  .addBtn {
                    z-index: 100;
                    position: absolute;
                    margin-left: rem(7);
                    margin-right: rem(4);
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    width: rem(16);
                    height: rem(16);
                    border: none;
                    background-color: transparent;
                    background-image: url('@assets/icons/ic_utterance_add.svg');
                    cursor: pointer;
                    background-position: center;
                    background-repeat: no-repeat;
                    span {
                      margin-left: rem(20);
                    }
                  }
                  &:hover {
                    background-color: $primary150;
                  }
                }
              }
              .icDelete {
                width: rem(38);
                height: rem(38);
                padding: rem(8);
                background-color: $grayWhite;
                border: 1px solid $gray200;
                border-radius: rem(8);
                cursor: pointer;
                background-image: url('@assets/icons/ic_utterance_delete_default.svg');
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                  background-color: $primary100;
                }
                &:disabled {
                  background-image: url('@assets/icons/ic_utterance_delete_disable.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  &:hover {
                    background-color: $grayWhite;
                  }
                }
              }
            }
            .emptyList {
              height: rem(207);
              display: flex;
              justify-content: center;
              align-items: center;

              .empty {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                  width: rem(56);
                  height: rem(56);
                }
                span {
                  margin-top: rem(10);
                  font-size: rem(14);
                  font-weight: rem(500);
                  line-height: rem(25);
                }
              }
            }
          }
        }
      }
    }
  }
}

.detail {
}

// 추후 스크롤바 css
// .entityModal::-webkit-scrollbar {
// }

// .entityModal::-webkit-scrollbar-thumb {
//   &:hover {
//   }
// }
