.entityModal {
  width: rem(1080);
  height: rem(652);
  margin: auto;
  padding: 0;
  border-radius: rem(12);
  background-color: $grayWhite;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray150;
    padding: rem(20) rem(20) 0 rem(20);
    cursor: pointer;
    .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        height: rem(40);
        font-size: rem(16);
        line-height: rem(19);
        padding: 0 rem(20);
      }
      .is-active {
        border-bottom: 4px solid $primary500;
      }
    }
    .closeBtn {
      width: rem(20);
      height: rem(20);
      border: none;
      background-color: $grayWhite;
      img {
        width: 100%;
      }
    }
  }
  .detail {
    border-bottom: 1px solid $gray150;
    padding-bottom: rem(10);
    .listBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: rem(5);
      }
    }
  }
  .myEntitiesContainer {
    height: rem(580);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .entitiesWrapper {
      padding: rem(20);
      .entitiesTitle {
        margin-bottom: rem(12);
      }
      .entity {
        margin-bottom: rem(12);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
      .systemEntity {
        justify-content: right;
      }
      .entityWrapper {
        max-width: rem(1140);
        margin-left: auto;
        margin-right: auto;

        div {
          div {
            .entityCard {
              width: rem(251);
              height: rem(162);
              border: 1px solid $gray200;
              border-radius: rem(8);
              padding: rem(20);
              cursor: pointer;
              .cardHeader {
                width: rem(211);
                height: rem(38);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: rem(16);
                .title {
                  font-size: rem(16);
                  font-weight: 500;
                  line-height: rem(19);
                }
                .icDelete {
                  width: rem(38);
                  height: rem(38);
                  padding: rem(8);
                  background-color: $grayWhite;
                  border: 1px solid $gray200;
                  border-radius: rem(8);
                  cursor: pointer;
                  background-image: url('@assets/icons/ic_delete_default.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  &:hover {
                    background-color: $primary100;
                  }
                  &:disabled {
                    background-image: url('@assets/icons/ic_delete_disable.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    &:hover {
                      background-color: $grayWhite;
                    }
                  }
                }
              }
              .entries {
                width: rem(211);
                max-height: rem(65);
                line-height: rem(18);
                .entry {
                  color: $gray500;
                  word-break: break-word;
                }
              }
              &:hover {
                background-color: $primary100;
              }
            }
          }
          .emptyEntityCardWrapper {
            padding: rem(20);
            margin-top: rem(20);
            width: 100%;
            height: rem(440);
            display: flex;
            justify-content: center;
            align-items: center;
            border: rem(1) solid $gray200;
            border-radius: rem(8);
            .emptyEntityCard {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .emptyImg {
                margin-bottom: rem(10);
              }
            }
          }
        }
      }
    }
  }
  .myEntitiesContainer::-webkit-scrollbar {
    width: rem(8);
    height: rem(0);
    background-color: rgba(208, 221, 255, 0);
  }
  .myEntitiesContainer::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: rgba(208, 221, 255, 0);
    border-radius: rem(18);
    transition: background-color 3s ease-out;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(208, 221, 255, 0.8);
  }

  .entitiesContainer {
    height: rem(580);
    overflow: hidden;

    .entitiesWrapper {
      padding: rem(20);

      .entityDetailHeader {
        display: flex;
        justify-content: space-between;
      }
      .searchInput {
        margin: rem(12) 0;
        display: flex;
        justify-content: flex-end;
      }
      .registerEntry {
        .entityDetail {
          height: rem(270);
          overflow-y: scroll;
          border: 1px solid $gray200;
        }
        .entityDetail::-webkit-scrollbar {
          width: rem(8);
          height: rem(8);
          background-color: rgba(208, 221, 255, 0);
        }
        .entityDetail::-webkit-scrollbar-thumb {
          height: 30%;
          background-color: rgba(208, 221, 255, 0);
          border-radius: rem(18);
          transition: background-color 2s ease-out;
        }
        *:hover::-webkit-scrollbar-thumb {
          background-color: rgba(208, 221, 255, 0.8);
        }

        div {
          div {
            div {
              form {
                div {
                  display: flex;
                }
              }
              .representativeEntryInput {
                .input-normal {
                  height: 100%;
                }
                .input-error {
                  min-height: rem(38);
                }
              }
              .representativeEntry {
                box-sizing: border-box;
                margin: 0;
                font-variant: tabular-nums;
                list-style: none;
                font-feature-settings: 'tnum';
                position: relative;
                display: flex;
                align-items: center;
                width: rem(200);
                min-height: rem(38);
                padding: 4px 11px;
                color: $grayBlack;
                font-size: rem(13);
                line-height: 1.5715;
                background-color: #fff;
                background-image: none;
                border: 1px solid $gray200;
                border-radius: rem(8);
                span {
                  width: 100%;
                  word-wrap: break-word;
                }
                &.error {
                  border: 1px solid $red;
                  &:focus-within {
                    border-color: $red;
                    box-shadow: 0 0 0 2px setAlpha($red, 0.2);
                    border-right-width: 1px;
                    outline: 0;
                  }
                  &:hover {
                    border-color: #f00;
                    border-right-width: 1px;
                  }
                }
              }
              .synonymListWrapper {
                width: 100%;
                padding: rem(5) 0 rem(3) rem(3);
                flex-wrap: wrap;
                min-height: rem(34);
                height: 100%;
                border: 1px solid #dcdcdc;
                border-radius: rem(8);
                .synonymList {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  .synonym {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: rem(2);
                    padding: rem(4) rem(12);
                    max-width: rem(720);
                    overflow: hidden;
                    word-break: break-all;
                    border: 1px solid #dcdcdc;
                    border-radius: rem(8);
                    background-color: $primary150;
                    // white-space: nowrap;
                    .synonymDeleteBtn {
                      padding: 0;
                      margin-left: rem(7);
                      width: rem(13);
                      height: rem(13);
                      border: none;
                    }
                  }
                }
                .visibleInput {
                  margin-left: rem(2);
                  padding-left: rem(4);
                  display: flex;
                  justify-items: center;
                  align-items: center;
                  width: rem(148);
                  height: rem(25);
                  border: 1px solid $gray200;
                  border-radius: rem(99);
                  background-color: $grayWhite;
                  input {
                    width: auto;
                    height: rem(23);
                    border-radius: rem(10);
                    padding-left: rem(3);
                  }
                }
                .addEntryBtnWrapper {
                  position: relative;
                  min-width: rem(63);
                  height: rem(25);
                  background-color: $grayWhite;

                  .addEntryBtn {
                    position: absolute;
                    padding: rem(5);
                    min-width: rem(63);
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $gray200;
                    border-radius: rem(99);
                    cursor: pointer;
                    z-index: 100;

                    span {
                      display: flex;
                      align-items: center;
                      .addEntryBtnImg {
                        width: rem(16);
                        height: rem(16);
                      }
                      .addEntryBtnName {
                        width: fit-content;
                        font-size: rem(13);
                        margin-left: rem(3);
                      }
                    }
                  }
                  &:hover {
                    border-radius: rem(99);
                    background-color: $primary150;
                  }
                }
                &.error {
                  height: rem(38);
                }
              }
              .icDelete {
                width: rem(38);
                height: rem(38);
                padding: rem(8);
                background-color: $grayWhite;
                border: 1px solid $gray200;
                border-radius: rem(8);
                cursor: pointer;
                background-image: url('@assets/icons/ic_delete_default.svg');
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                  background-color: $primary100;
                }
                &:disabled {
                  background-image: url('@assets/icons/ic_delete_disable.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  &:hover {
                    background-color: $grayWhite;
                  }
                }
              }
            }
            .emptyList {
              height: rem(185);
              display: flex;
              justify-content: center;
              align-items: center;
              .empty {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                  width: rem(56);
                  height: rem(56);
                }
                span {
                  margin-top: rem(10);
                  font-size: rem(14);
                  font-weight: rem(500);
                  line-height: rem(25);
                }
              }
            }
          }
        }
      }
    }
  }
}
