.luna-node {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: 2px solid $grayWhite;
  border-radius: rem(12);
  background-color: $grayWhite;
  max-width: rem(218);
  min-width: rem(218);
  padding: rem(13.5) rem(12) rem(24) rem(12);
  box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: $grayBlack;
  font-size: rem(14);
  line-height: rem(16.8);

  &-active {
    border: rem(2) solid $primary200;
    box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
  }

  &-invalidate {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: rem(2) solid rgba(255, 73, 117, 0.5);
    box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
  }

  .icNodeBottom {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(4);
    padding-bottom: rem(8);

    & button {
      padding: rem(9);
    }

    & p {
      width: rem(132);
      padding-right: rem(4);
      font-weight: 500;
    }

    .nodeIcon {
      border: rem(1) solid $gray200;
      border-radius: rem(4);
      width: rem(28);
      height: rem(28);
    }
  }

  &-body {
    .luna-card {
      width: 100%;
      &-body {
        padding: 0;
        .thumbnail {
          display: flex;
          align-items: center;
          justify-content: center;
          height: rem(96);

          img {
            width: 100%;
            height: 100%;
            max-width: rem(192);
            border-radius: rem(8) rem(8) 0 0;
            object-fit: contain;
            border: rem(1) solid $gray200;
            background-color: $gray150;
          }
          &.square {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(192);

            img {
              border: rem(1) solid $gray200;
              max-height: rem(192);
            }
          }

          &.round {
            img {
              border: rem(1) solid $gray200;
              border-radius: rem(8);
            }

            .skeleton {
              border: rem(1) solid $gray200;
              border-radius: rem(8);
            }
          }

          &.textCard {
            display: none;
          }

          &.off {
            display: none;
          }

          .skeleton {
            height: 100%;
            background-color: $gray150;
            background-image: url('@assets/icons/ic_img.svg');
            background-repeat: no-repeat;
            background-position: center;
            border: rem(1) solid $gray200;
            border-radius: rem(8) rem(8) 0 0;
          }
        }
        .title {
          padding-top: rem(12);
          color: $grayBlack;
          font-size: rem(13);
          font-weight: 500;
          line-height: rem(16);

          &.empty {
            color: $gray300;
          }

          &.none {
            display: none;
          }

          &.list {
            padding: 0 0 rem(12) 0;
          }
        }

        .description {
          padding-top: rem(8);
          color: $gray500;
          font-size: rem(12);
          font-weight: 500;
          word-break: break-all;

          &.empty {
            color: $gray300;
            font-weight: 400;
          }

          &.none {
            display: none;
          }

          p {
            white-space: pre-line;
            word-break: break-all;
          }
        }

        p {
          white-space: normal;
          // word-break: break-all;
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & div {
          width: 100%;
        }
        // Commerce Card Profile
        .profile {
          display: flex;
          justify-content: start;
          align-items: center;
          overflow: hidden;
          padding-top: rem(8);

          .skeleton {
            width: rem(20);
            height: rem(20);
            background-color: #ededf0;
            border: rem(1) solid $gray200;
            border-radius: rem(2);
          }
          & img {
            width: rem(20);
            height: rem(20);
            border: rem(1) solid $gray200;
            border-radius: rem(2);
          }

          & span {
            padding-left: rem(5);

            &.empty {
              color: $gray300;
              font-weight: 500;
              font-size: rem(13);
              line-height: rem(15.6);
            }
          }
        }

        .commerceDivider {
          margin: rem(4) 0 rem(8) 0;
        }

        // Commerce Card priceWrapper
        .priceWrapper {
          padding-left: rem(4);

          .currency {
            padding-left: rem(2);
          }
        }

        .prices {
          display: flex;
          justify-content: start;
          align-items: center;
          padding-top: rem(4);
          color: $grayBlack;
          font-weight: 700;
          font-size: rem(13);

          .empty {
            color: $gray300;
            font-weight: 400;
            font-size: rem(13);
            line-height: rem(16);
          }

          .discountAmount {
            padding-left: rem(5);
          }
        }

        // Commerce Card discount
        .discounted {
          font-size: rem(1);
          color: gray;
          text-decoration: line-through;
        }

        .discountedCurrency {
          font-size: rem(1);
          color: gray;
        }

        .discount {
          font-size: rem(10);
          color: red;
        }

        // Commerce Card Product Name {
        .productName {
          padding-left: rem(5);
          font-size: rem(12);
          color: $grayBlack;
          font-weight: 400;

          &.empty {
            color: $gray300;
          }
        }

        // List Card
        .listItems {
          display: flex;
          flex-direction: column;
          padding-top: rem(6);
          gap: rem(6);

          img {
            width: rem(48);
            height: rem(48);
          }

          .listItemImgWrapper img {
            border-radius: rem(4);
            border: rem(1) solid $gray200;
          }

          .listItemThumbnailSkeleton {
            width: rem(48);
            height: rem(48);
            background-color: #ededf0;
            border-radius: rem(4);
            border: rem(1) solid $gray200;
          }

          .listItemsContent {
            line-height: rem(15.6);

            p {
              padding: rem(4) 0;
            }

            .description {
              font-weight: 400;
            }
          }
        }

        // Quick Reply
        .quickReplyWrapper {
          display: flex;
          flex-direction: column;
          gap: rem(4);

          & .btnQuickRelply {
            width: rem(192);
            height: rem(36);
            background-color: $gray100;
            border: rem(1) solid $gray200;
            border-radius: rem(99);
            font-size: rem(13);
            color: $grayBlack;

            &:hover {
              background-color: $primary100;
              border: rem(1) solid $primary200;
            }
          }
        }

        // Condition
        .conditionWrapper {
          width: rem(192);
          height: rem(80);
          background-color: $gray100;
          border: rem(1) solid $gray200;
          border-radius: rem(8);

          & p {
            max-height: rem(80);
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        // Count
        .countConditionWrapper {
          padding: rem(8) rem(10);
          width: rem(192);
          min-height: rem(80);
          background-color: $gray100;
          border: rem(1) solid $gray200;
          border-radius: rem(8);

          .dataCardDesc {
            white-space: pre-line;
            word-break: break-all;
          }

          &.parameterSetNode {
            p {
              max-height: rem(50);
              overflow: hidden;
            }
          }
        }

        .nextNodeDrag {
          width: rem(5);
          height: rem(5);
          position: absolute;
          right: rem(10);
          transform: translate(0, -50%);
        }

        .nextNode {
          width: rem(5);
          height: rem(5);
          background-image: url('@assets/icons/ic_node.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          border-color: transparent;

          &.green {
            background-image: url('@assets/icons/ic_node_green.svg');
            background-repeat: no-repeat;
            background-position: center;
          }

          &.red {
            background-image: url('@assets/icons/ic_node_red.svg');
            background-repeat: no-repeat;
            background-position: center;
          }

          &.yellow {
            background-image: url('@assets/icons/ic_node_yellow.svg');
            background-repeat: no-repeat;
            background-position: center;
          }

          &:hover {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }

      &-bordered {
        border: none;
      }
    }

    .addCardBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(10);
    }

    .buttonWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(4);
      padding-top: rem(8);

      &.list {
        padding-top: rem(8);
      }

      & button {
        display: block;
        width: rem(190);
        background-color: $gray100;
        border: 1px solid $gray200;
        border-radius: rem(4);
        color: $grayBlack;
        font-size: rem(13);

        &:hover {
          background-color: $primary100;
          border-color: $primary200;
        }
      }

      .nextNodeWrapper {
        display: flex;
        flex-direction: column;
        padding-top: rem(10) !important;
        justify-content: flex-start;
        align-items: center;
        height: rem(42);
      }

      .nextNodeDrag {
        width: rem(5);
        height: rem(5);
      }

      .nextNode {
        background-image: url('@assets/icons/ic_node.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border-color: transparent;

        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }

    .carouselBtnWrapper {
      padding-bottom: rem(8);

      .carouselBtn {
        cursor: pointer;
        padding: rem(1);
        width: rem(26);
        height: rem(26);
        background-color: $grayWhite;
        border: 1px solid $gray200;
        border-radius: rem(4);
      }

      .page {
        font-size: rem(13);
        line-height: rem(16);
        color: $gray500;
      }
    }

    .command-node {
      width: rem(190);
      .nextNodeDrag {
        width: rem(5);
        height: rem(5);
        position: absolute;
        right: rem(10);
        top: 50%;
        transform: translate(0, -50%);
      }

      .nextNode {
        width: rem(5);
        height: rem(5);
        background-image: url('@assets/icons/ic_node.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border-color: transparent;
        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
  }
}

.luna-node-active.luna-node-invalidate {
  border: rem(2) solid rgba(255, 73, 117);
}

.carouselComponent {
  .thumbnail {
    height: rem(84) !important;

    &.square {
      height: rem(166) !important;

      img {
        max-height: rem(166) !important;
      }
    }
  }

  .sortableBtn {
    .luna-btn {
      width: rem(166) !important;
    }
  }

  .listItemsContent {
    flex: 0 0 70% !important;
    min-width: 70% !important;
    line-height: rem(15.6);
  }
}

.carouselOrderPopupWrapper {
  .textCard {
    display: none;
  }
}

.method {
  padding-bottom: rem(8);
}

.dataCardJson div {
  overflow: hidden;
}


.otherFlowRedirectPopup {
  padding: rem(12) !important;

  .otherFlowRedirectPopupLabelWrapper {
    padding-bottom: rem(8);
  
    .otherFlowRedirectPopupImg {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border: rem(1) solid $gray200;
        border-radius: rem(4);
      }
    }
    
    .otherFlowRedirectPopupLabel {
      padding-left: rem(4);
      font-size: rem(14);
      font-weight: 500;
    }
  }
}


