.parameterPopupOverlay {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.parameterPopup {
  width: rem(600);
  height: fit-content;
  margin: auto;
  max-height: rem(340);
  padding: 0;
  background-color: $grayWhite;
  border-radius: rem(12);
  .header {
    padding: rem(14) rem(20) rem(0) rem(20);
  }
  .parameterInfo {
    padding: rem(9) rem(20) rem(20) rem(20);
  }
  .parameterPopupBtns {
    padding: rem(0) rem(20) rem(20) rem(20);
  }
}
