.luna-chatbot-container {
  min-width: rem(180);
  padding: rem(8);
  z-index: 999;
  background-color: $grayWhite;
  border: 1px solid $gray200;
  box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
  border-radius: rem(12);

  .luna-chatbot-list {
    display: flex;
    width: 100%;
    height: rem(32);
    padding: rem(8);
    cursor: pointer;

    &:hover {
      background-color: $primary100;
      border-radius: rem(6);
    }

    .items-name {
      width: rem(110);
      overflow: hidden;
      text-align: left;
      font-size: rem(13);
      line-height: rem(16);
      white-space: nowrap;
      &.checked-items-name {
        color: $grayBlack;
        font-weight: 700;
      }
    }

    .social-icon {
      margin-left: rem(15);
      width: rem(14);
      height: rem(14);
    }
  }

  .list-view-btn {
    width: 100%;
    height: rem(33);
    padding: rem(12) rem(10);
    border: none;
    border-radius: rem(6);
    gap: rem(4);
    font-size: rem(13);
    line-height: rem(17);
    background-color: $gray150;
    color: $grayBlack;
    font-weight: 500;
    &:hover {
      color: $gray300;
    }
    cursor: pointer;
  }
}

.luna-popup-container {
  min-width: rem(154);
  padding: rem(8);
  border: 1px solid $gray200;
  border-radius: rem(12);
  background-color: $grayWhite;
  z-index: 999;

  .luna-popup-list {
    display: flex;
    width: rem(138);
    height: rem(32);
    padding: rem(8) rem(12);
    border-radius: rem(6);
    gap: rem(8);

    &:hover {
      background-color: $primary100;
    }
  }
  .luna-popup-list-focused {
    background-color: $primary100;
  }
}

.luna-userInfo-container {
  text-align: start;
  padding-bottom: rem(8);
  .userInfoTitle {
    margin-bottom: rem(8);
    .username {
      font-weight: 700;
      font-size: rem(14);
    }
  }
  .userBrandInfo {
    margin-bottom: rem(8);

    .userBrandName {
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(20);
    }
    .userAccount {
      font-size: rem(12);
      font-weight: 500;
      color: #626263;
    }
  }
}

.userInfoMenus {
  padding: rem(20) rem(16);
  min-width: rem(194);

  .list-view-btn {
    padding: rem(12) 0;
    height: rem(38);
  }
}

.lnbHeaderBotNamePopper {
  width: rem(220);
  max-height: rem(192);
  padding: rem(12);
  .list-view-btn {
    height: rem(40);
    padding: rem(12) 0;
    margin-top: rem(8);
  }

  .luna-popup-list {
    width: rem(196);
    height: rem(40);
    padding: rem(12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;

    .items-name {
      width: rem(150);
      overflow: hidden;
      text-overflow: ellipsis;
      color: $gray500;
      font-weight: 400;
      &.checked-items-name {
        color: $grayBlack;
        font-weight: 700;
      }
    }
  }
}
