* {
  margin: 0;
  padding: 0;
}

.radioContainer {
  .radio {
    appearance: none;
    width: rem(13);
    height: rem(13);
    margin-right: rem(4);
    background-image: url('/src/assets/icons/ic_radio_default.svg');

    &:checked {
      background-image: url('/src/assets/icons/ic_radio_enabled.svg');
    }
  }
}
