.scenarioWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background;
  .managementWrapper {
    flex: 0 0 rem(220);
    border-right: 1px solid $gray200;
    .scenarioName {
      display: flex;
      height: rem(51);
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(12) 0 rem(12);
      border-bottom: 1px solid $gray200;

      & span {
        padding-left: rem(4);
        color: $primary500;
        font-weight: 700;
      }

      .scenarioNameTabs {
        display: flex;

        gap: rem(8);

        .tab {
          cursor: pointer;
          width: rem(24);
          height: rem(24);
          padding: rem(5);
          background-color: $gray200;
          border-radius: rem(4);

          &.scenario {
            background-image: url('@assets/icons/ic_scenariotab_scenario_off.svg');

            &.on {
              background-image: url('@assets/icons/ic_scenariotab_scenario_on.svg');
            }
          }

          &.variable {
            background-image: url('@assets/icons/ic_scenariotab_variable_off.svg');

            &.on {
              background-image: url('@assets/icons/ic_scenariotab_variable_on.svg');
            }
          }
        }

        .on {
          background-color: $primary500;
        }
      }
    }

    .scenarioTabWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100% - rem(51));
    }

    // 시나리오 탭
    .openedScenarioOption {
      display: flex;
      flex: 0 0 rem(34);
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(12);
      border-bottom: 1px solid $gray200;
      font-size: rem(13);
    }

    .basicScenarioWrapper {
      & p {
        padding: rem(16) rem(12);
        font-weight: 700;
        font-size: rem(12);
        color: $gray500;
      }

      .basicScenarioList {
        display: flex;
        flex-direction: column;
        gap: rem(4);

        .basicScenario {
          margin: 0 rem(12);
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: rem(12);
          height: rem(40);
          border: 1px solid $gray200;
          border-radius: rem(8);
          background-color: $grayWhite;

          &.selected {
            background-color: $primary100;
            border: rem(1) solid $primary200;
            border-radius: rem(8);
          }
        }
      }
    }

    .newScenarioBtn {
      display: flex;
      align-items: center;
      padding: 0 rem(12);
      font-size: rem(12);
    }

    .scenarioListWrapper {
      flex: auto;
      margin-top: rem(8);
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: rem(0) rem(10);

      .luna-space-vertical {
        overflow: hidden;
      }

      //max-height: 100px;
      .luna-card-bordered {
        border: rem(1) solid $gray200;
        border-radius: rem(8);
      }
      .luna-card-bordered:hover {
        background-color: $primary100;
        border: rem(1) solid $gray200;
      }
      .selected {
        background-color: $primary100;
        border: rem(1) solid $primary200;
        border-radius: rem(8);
      }
      .invalidate {
        background-color: $progress-bg;
        border: rem(1) solid $red;
      }

      .scenarioListName {
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: rem(112);
        max-width: rem(112);
        white-space: nowrap;
        font-size: rem(13);
      }

      .scenarioListSwitch {
        padding: 0 rem(8) !important;
      }

      .noResults {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 rem(12);
        height: rem(76);
        background-color: $grayWhite;
        border: 1px dashed $gray250;
        border-radius: rem(4);

        font-weight: 500;
        font-size: rem(13);
        color: $gray300;
        line-height: rem(16);
      }

      .noScenarioResults {
        padding-top: rem(25);
        text-align: center;

        & p {
          padding-top: rem(10);
        }
      }
    }

    // .scenarioListWrapper::-webkit-scrollbar {
    //   display: none;
    // }

    .scenarioListWrapper::-webkit-scrollbar {
      width: rem(8);
      height: rem(8);
      background-color: #f7f7fa; /*스크롤바 뒷 배경 색상*/
    }

    .scenarioListWrapper::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background-color: rgba(208, 221, 255, 0); /* 스크롤바의 색상 */
      border-radius: rem(18);
      transition: background-color 2s ease-out;
    }

    .scenarioListWrapper:hover::-webkit-scrollbar-thumb {
      background-color: rgba(208, 221, 255, 0.8); /* 스크롤바의 색상 */
    }

    .search {
      padding: rem(10);
    }

    // 변수 탭
    .variableTabWrapper {
      .settingEntityBtn {
        padding: rem(10);

        & button {
          width: 100%;
          border: 1px solid rgb(78, 132, 239);
          border-radius: rem(5);
          color: rgb(78, 132, 239);
        }
      }

      .variableWrapper {
        padding: rem(10);

        .title {
          font-size: rem(14);
          font-weight: 500;
        }

        .addVariableBtn {
          .plusBtn {
            margin-right: rem(3);
          }
        }

        .variableListWrapper {
          border: 1px solid $gray200;
          border-radius: rem(6);
          background-color: $grayWhite;

          .variableList {
            .variableListHeader {
              padding: rem(12);
              display: grid;
              align-items: center;
              grid-template-columns: 5fr 5fr 1fr;
              background-color: $gray150;

              .variableName {
                grid-column: 1/1;
              }

              .varibleType {
                grid-column: 2 / span 2;
              }
            }
            .variableListItems {
              max-height: calc(100vh - rem(265));
              overflow-y: auto;
              .variableItem {
                width: 100%;
                height: rem(38);
                display: grid;
                grid-template-columns: 9fr 1fr;
                align-items: center;
                word-break: break-all;
                padding: 0 rem(12);
                gap: rem(15);
                cursor: pointer;

                &:hover {
                  background-color: $primary100;
                }

                .variableInfo {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  div {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                }
                .deleteBtn {
                  border: none;
                  background-color: transparent;
                  cursor: pointer;
                }
              }

              .variableSkeletonList {
                padding: rem(10) rem(8);
              }
            }
            .variableListItems::-webkit-scrollbar {
              width: rem(8);
              height: rem(8);
              background-color: rgb(208, 221, 255, 0.2);
            }

            .variableListItems::-webkit-scrollbar-thumb {
              height: 30%;
              background-color: rgba(208, 221, 255, 0);
              border-radius: rem(18);
              transition: background-color 2s ease-out;
            }
            *:hover::-webkit-scrollbar-thumb {
              background-color: rgba(208, 221, 255, 0.8);
            }

            .emptyVariableList {
              height: rem(50);
              display: flex;
              justify-content: center;
              align-items: center;

              .emptyVariable {
                color: $gray300;
              }
            }
          }
        }
      }
    }
  }
}

.scenarioListPopupWrapper {
  width: rem(600);
  height: fit-content;
  margin: auto;
  margin-top: rem(300);
  padding: 0;
  background-color: $grayWhite;
  border-radius: rem(12);
}

.scenarioListPopupOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
