.scenarioWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: 100%;
  background-color: white;

  justify-content: center;

  .managementWrapper {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr 14fr;
    width: 100%;
    height: 100%;

    &:first-child {
      border: 1px solid #EDEDF0;
    }
    
    .scenarioName {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(10) 0 rem(10);
      border-bottom: 1px solid #EDEDF0;

      .scenarioNameTabs {
        & i {
          padding: rem(5);
        }
        .on {
          background-color: cornflowerblue;
        }
      }
    }

    .scenarioTabWrapper {
      display: grid;
      grid-template-rows: auto;
      width: 100%;
      height: 100%;
    }

    // 시나리오 탭
    .openedScenarioOption {
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 0 rem(10) 0 rem(10);
      border-bottom: 1px solid #EDEDF0;
    }

    .basicScenario {
      display: grid;
      align-items: center;
      border-bottom: 1px solid #EDEDF0;

      div {
        padding: rem(10);
      }    
    }
    
    .startBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(10) 0 rem(10);
      border-bottom: 1px solid #EDEDF0;
    }

    .scenarioListWrapper {
      padding: rem(10);
      max-height: rem(400);
      overflow-y: auto;
    }

    .scenarioList {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: space-between;
      align-items: center;
      padding: rem(2);

      span {
        grid-column: 2/5;
        padding: 0 rem(5);
        text-align: left;
      }
    }

    .search {
      padding: rem(10);
    }

    // 변수 탭
    .variableTabWrapper {
      width: 100%;
      height: 100%;
    }

    .addVariableBtn {
      padding: rem(10);

      & button {
        width: 100%;
        border: 1px solid rgb(78, 132, 239);
        border-radius: rem(5);
        color: rgb(78, 132, 239);
      }
    }

    .variableWrapper {
      padding: rem(10);
      border-bottom: 1px solid #EDEDF0;

      & p {
        padding-bottom: rem(15);
        font-size: rem(20);
      }
    }

    .variableListWrapper {
      border-top: 1px solid #EDEDF0;
      padding-top: rem(10);

      .variableListHeader {
        display: grid;
        align-items: center;
        grid-template-columns: 5fr 5fr 1fr;
        padding-bottom: rem(10);
        border-bottom: 1px solid #EDEDF0;

        .variableName {
          grid-column: 1/1;
        }

        .varibleType {
          grid-column: 2 / span 2;
        }
      }

      .variableLists {
        max-height: rem(400);
        overflow-y: auto;
      
        .variableList {
          padding-top: rem(10);
          display: grid;
          grid-template-columns: 5fr 5fr 1fr;
          align-items: center;
          word-break:break-all;

          & i {
            text-align: center;
          }
        }
      }

    }
  }

  .botBuilderWrapper {
    grid-column: 3/12;

    background-image: linear-gradient(0deg, transparent rem(4), #333 rem(5)), linear-gradient(90deg,  transparent rem(4), #333 rem(5));
    background-size: rem(5) rem(5);
  }


  .botTesterWrapper {
    grid-column: 12/12;
  }
}