.scenarioWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $background;
  .managementWrapper {
    width: rem(220);
    border-right: 1px solid $gray200;
    .scenarioName {
      display: flex;
      height: rem(51);
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(12) 0 rem(12);
      border-bottom: 1px solid $gray200;

      & span {
        padding-left: rem(4);
        color: $primary700;
        font-weight: 700;
      }

      .scenarioNameTabs {
        & i {
          padding: rem(5);
        }
        .on {
          background-color: cornflowerblue;
        }
      }
    }

    .scenarioTabWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100% - rem(51));
    }

    // 시나리오 탭
    .openedScenarioOption {
      display: flex;
      flex: 0 0 rem(34);
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(12);
      border-bottom: 1px solid $gray200;
      font-size: rem(13);
    }

    .basicScenarioWrapper {
      & p {
        padding: rem(16) rem(12);
        font-weight: 700;
        font-size: rem(12);
        color: $gray500;
      }

      .basicScenarioList {
        margin: 0 rem(12);
        margin-bottom: rem(18);
        border: 1px solid $gray200;
        border-radius: rem(8);
        background-color: $grayWhite;
        .basicScenario {
          display: flex;
          justify-content: space-between;
          padding: rem(12);
          height: rem(40);
        }
      }
    }

    .newScenarioBtn {
      display: flex;
      align-items: center;
      padding: 0 rem(12);
      font-size: rem(12);
    }

    .scenarioListWrapper {
      flex: auto;
      padding: rem(8) rem(10) 0 rem(10);
      overflow-y: auto;

      -ms-overflow-style: none;
      scrollbar-width: none;
      //max-height: 100px;
    }

    .scenarioListWrapper::-webkit-scrollbar {
      display: none;
    }

    .search {
      padding: rem(10);
    }

    // 변수 탭
    .variableTabWrapper {
      width: 100%;
      height: 100%;
    }

    .addVariableBtn {
      padding: rem(10);

      & button {
        width: 100%;
        border: 1px solid rgb(78, 132, 239);
        border-radius: rem(5);
        color: rgb(78, 132, 239);
      }
    }

    .variableWrapper {
      padding: rem(10);
      border-bottom: 1px solid $gray200;

      & p {
        padding-bottom: rem(15);
        font-size: rem(20);
      }
    }

    .variableListWrapper {
      border-top: 1px solid $gray200;
      padding-top: rem(10);

      .variableListHeader {
        display: grid;
        align-items: center;
        grid-template-columns: 5fr 5fr 1fr;
        padding-bottom: rem(10);
        border-bottom: 1px solid $gray200;

        .variableName {
          grid-column: 1/1;
        }

        .varibleType {
          grid-column: 2 / span 2;
        }
      }

      .variableLists {
        max-height: rem(400);
        overflow-y: auto;

        .variableList {
          padding-top: rem(10);
          display: grid;
          grid-template-columns: 5fr 5fr 1fr;
          align-items: center;
          word-break: break-all;

          & i {
            text-align: center;
          }
        }
      }
    }
  }

  .botBuilderWrapper {
    flex: auto;
    background-image: linear-gradient(0deg, transparent rem(4), #333 rem(5)),
      linear-gradient(90deg, transparent rem(4), #333 rem(5));
    background-size: rem(5) rem(5);
  }

  .botTesterWrapper {
    grid-column: 12/12;
  }
}
