.settingWrap {
  position: relative;
  padding: rem(20);
  padding-top: rem(40);
  max-width: rem(1140);
  margin-left: auto;
  margin-right: auto;
  .title {
    font-size: rem(16);
    font-weight: 700;
    color: $grayBlack;
  }
  .delete-message {
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(14);
    color: $red;
  }
  .settingCardWrap {
    border: 1px solid $gray200;
    margin-bottom: rem(20);
    .settingCardTitle {
      font-size: rem($defaultSize);
      font-weight: 500;
    }
    .botInfo {
      width: rem(85);
    }
    .botId {
      background-color: $gray100;
    }
    .activateWrap {
      div {
        .connectChannelCardContainer {
          display: flex;
          gap: rem(12);
          .connectChannelCardWrap {
            width: 534px;
            .connectChannelCard {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 88px;
              border: 1px solid #dcdcdc;
              border-radius: 12px;
              padding: 20px;
              .channel {
                width: rem(178);
                height: rem(48);
                display: flex;
                align-items: center;
                .channelImg {
                  margin-right: rem(12);
                  width: rem(48);
                  height: rem(48);
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .channelInfo {
                  .channelState {
                    font-size: rem(14);
                    line-height: rem(17);
                    font-weight: 500;
                    margin-bottom: rem(3);
                  }
                  .channelName {
                    color: $primary500;
                    font-weight: 500;
                    font-size: rem(12);
                    line-height: rem(14);
                  }
                }
              }
              .connectBtns {
                display: flex;
                gap: rem(8);
              }
            }
          }
        }
        .import {
          background-color: yellow;
        }
      }
    }
  }

  .handleScenariosWrap {
    div {
      .handleScenarioInfo {
        border-bottom: 1px solid $gray200;
        margin-bottom: rem(3);
        .infoText {
          margin-bottom: rem(12);
          color: $gray300;
        }
      }
      .duplicateScenarios {
        display: flex;
        align-items: center;
        .duplicateBtn {
          margin-right: rem(10);
        }
        .text {
          width: rem(140);
          font-size: rem(13);
          line-height: rem(16);
        }
        .fileInput {
          display: none;
        }
      }
      .deleteBot {
        display: flex;
        align-items: center;
        .deleteBotTitle {
          margin-right: rem(30);
        }
        .cancelExpireUtc {
          margin-left: rem(30);
          color: red;
        }
      }
      .deleteBotDesc {
        white-space: pre-wrap;
        line-height: rem(20);
        color: $gray300;
      }
    }
  }
}

.connectChannel {
  color: red;
  font-size: $defaultSize;
}
