.luna-system-modal {
  width: rem(328);
  min-height: rem(160);
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  position: absolute;
  inset: rem(40);
  background: #ffffff;
  overflow: auto;
  border-radius: rem(16);
  outline: none;
  box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
  .content {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $gray200;
    .message {
      font-weight: 700;
      padding-bottom: rem(8);
      color: $grayBlack;
    }
    .description {
      font-weight: 500;
      color: $grayBlack;
    }
  }
  .cancelBtn {
    font-weight: 700;
    color: $gray300;
  }
  .confirmBtn {
    font-weight: 700;
    color: $grayBlack;
  }
}
