.luna-system-modal {
  width: fit-content;
  min-height: rem(160);
  min-width: rem(400);
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  position: absolute;
  inset: rem(40);
  background: #ffffff;
  overflow: auto;
  border-radius: rem(12);
  outline: none;
  box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
  .title {
    padding: 14px 20px 14px 20px;
  }
  .content {
    padding: rem(20);
    color: $gray500;
    font-size: rem(13);
  }
}

.luna-system-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
