.testerSlide {
  position: absolute;
  top: 50%;
  z-index: 100;

  .slideBtns {
    width: rem(36);
    height: rem(36);
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
    background-color: $grayWhite;
    opacity: 0.6;
    border-radius: rem(4);
    border: 1px solid $gray200;
    &:hover {
      opacity: 1;
    }
  }
  .prevBtn {
  }
  .nextBtn {
  }
}

.Next {
  margin-right: rem(-1.8);
}
