.botTesterSlide {
  position: relative;
  display: flex;
  width: fit-content;
  overflow: hidden;
}

.luna-carousel-slide-left {
  position: absolute;
  display: flex;
  top: 45%;
  left: 0;
  z-index: 100;

  .slideBtns {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(36);
    height: rem(36);
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
    background-color: $grayWhite;
    opacity: 0.6;
    border-radius: rem(4);
    border: 1px solid $gray200;
    &:hover {
      opacity: 1;
    }
  }
}

.luna-quickreply-slide-left {
  position: absolute;
  top: 0;
  z-index: 100;
  .slideBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(36);
    height: rem(36);
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
    background-color: $grayWhite;
    opacity: 0.6;
    border-radius: rem(4);
    border: 1px solid $gray200;
    &:hover {
      opacity: 1;
    }
  }
}

.luna-carousel-slide-right {
  position: absolute;
  top: 45%;
  z-index: 100;
  right: 0;

  .slideBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(36);
    height: rem(36);
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
    background-color: $grayWhite;
    opacity: 0.6;
    border-radius: rem(4);
    border: 1px solid $gray200;
    &:hover {
      opacity: 1;
    }
  }
}

.luna-quickreply-slide-right {
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;

  .slideBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(36);
    height: rem(36);
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
    background-color: $grayWhite;
    opacity: 0.6;
    border-radius: rem(4);
    border: 1px solid $gray200;
    &:hover {
      opacity: 1;
    }
  }
}
