.utteranceDetailWrap {
  position: relative;
  width: rem(1120);
  padding: rem(32) 0;
  margin: 0 auto;
  overflow: hidden;

  .detailButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .addIntent {
      font-size: rem(20);
      font-weight: 500;
    }

    .deleteBtn {
      margin-right: rem(8);
    }
  }
  .utterance {
    background-color: $grayWhite;
    padding: rem(20);
    border: 1px solid $gray200;
    div {
      .addUtterance {
        font-size: rem(15);
        font-weight: 500;
      }
      div {
        .addUtteranceBtnWrap {
          margin-left: rem(8);
          .addUtteranceBtn {
            width: rem(64);
            height: rem(38);
          }
        }
      }
    }
  }
  .add {
    margin-top: rem(8);
    border-bottom: none;
    border-top-left-radius: rem(8);
    border-top-right-radius: rem(8);
  }

  .list {
    border-bottom-left-radius: rem(8);
    border-bottom-right-radius: rem(8);
    overflow: hidden;

    .utteranceItems {
      max-height: calc(100vh - 550px);
      overflow-y: auto;
    }
    .utteranceItems::-webkit-scrollbar {
      width: rem(8);
      height: rem(8);
      background-color: rgba(208, 221, 255, 0);
    }
    .utteranceItems::-webkit-scrollbar-thumb {
      height: 30%;
      background-color: rgba(208, 221, 255, 0);
      border-radius: rem(18);
      transition: background-color 2s ease-out;
    }
    *:hover::-webkit-scrollbar-thumb {
      background-color: rgba(208, 221, 255, 0.8);
    }

    div {
      display: flex;
      align-items: center;

      .utteranceItem {
        width: 100%;
        padding: rem(20);
        min-height: rem(44);
        border: 1px solid $gray200;
        border-radius: rem(8);
        margin-bottom: rem(4);

        .item {
          width: rem(990);
          margin-left: rem(12);
          font-size: rem(13);
          line-height: rem(16);
          word-wrap: break-word;
          padding: 10px 0;
          &.utterance-detailModal-item {
            width: rem(920);
          }
        }
        &:hover {
          background-color: $primary100;

          .checkbox {
            background-color: $grayWhite;
          }

          .checkbox:checked {
            background-color: $primary500;
          }
        }
      }
      .emptyList {
        width: 100%;
        border: 1px solid $gray200;
        border-radius: rem(8);
        height: rem(214);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray500;
        &.utterance-detailModal-emptyList {
          height: rem(170);
        }

        .empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(10);
          img {
            width: rem(56);
            height: rem(56);
          }
          span {
            font-size: rem(14);
            font-weight: rem(500);
            line-height: rem(25);
          }
        }
        &:hover {
          background-color: $grayWhite;
          cursor: default;
        }
      }
      .title {
        width: 78%;
        font-size: rem(16);
        font-weight: 500;
        .utteranceLength {
          font-weight: 700;
          font-size: rem(16);
          line-height: rem(19.2);
          color: $primary500;
        }
      }
      .icDelete {
        width: rem(38);
        height: rem(38);
        background-color: $grayWhite;
        border: 1px solid $gray200;
        border-radius: rem(8);
        cursor: pointer;
        background-image: url('@assets/icons/ic_delete_default.svg');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          background-color: $primary100;
        }
        &:disabled {
          background-image: url('@assets/icons/ic_delete_disable.svg');
          background-position: center;
          background-repeat: no-repeat;
          cursor: not-allowed;
          &:hover {
            background-color: $grayWhite;
          }
        }
      }
    }
  }
}

.utterance-detailModalWrap {
  width: rem(1080);
  height: rem(577);
  overflow: hidden;
  margin: 0 auto;
  padding: rem(10) rem(20) rem(20) rem(20);
  border-radius: rem(12);
  background-color: $grayWhite;

  .utterance-detailModal {
    height: rem(260);
    .utterance-detailModal-items {
      max-height: rem(180);
      overflow-y: auto;
    }
    .utterance-detailModal-items::-webkit-scrollbar {
      width: rem(8);
      height: rem(8);
      background-color: rgba(208, 221, 255, 0);
    }
    .utterance-detailModal-items::-webkit-scrollbar-thumb {
      height: 30%;
      background-color: rgba(208, 221, 255, 0);
      border-radius: rem(18);
      transition: background-color 2s ease-out;
    }
    *:hover::-webkit-scrollbar-thumb {
      background-color: rgba(208, 221, 255, 0.8);
    }
  }
}

.detailPopupHeaderWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(20) rem(20) rem(10) rem(20);

  .headerTitle {
    font-size: rem(20);
    font-weight: 500;
  }
  .utteranceDetailClose {
    padding: 0;
    height: 16px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
