* {
  background-position: center;
  background-repeat: no-repeat;
}

.utteranceWrap {
  position: relative;
  padding: rem(20);
  padding-top: rem(40);
  max-width: rem(1140);
  margin-left: auto;
  margin-right: auto;

  .title {
    width: 100%;
    font-size: rem(16);
    font-weight: 700;
    color: $grayBlack;
    margin-bottom: 20px;
  }
  .utteranceListWrap {
    margin-top: rem(20);
    max-width: rem(1140);
    border: 1px solid $gray200;
    border-radius: rem(8);

    .utteranceTable {
      width: 100%;
      border-radius: rem(8);
      overflow: hidden;
      border-collapse: collapse;

      thead,
      tbody {
        tr {
          text-align: left;
          height: rem(40);
          background-color: $gray150;
          display: flex;
          align-items: center;

          .utteranceList {
            padding-left: rem(20);
          }
          .intent {
            width: rem(150);
          }
          .add {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .addBtn {
              margin-left: rem(10);
              width: rem(16);
              height: rem(16);
              border: none;
              background-image: url('@assets/icons/ic_utterance_add.svg');
              cursor: pointer;
            }
          }
          .connectScenarios {
            width: rem(285);
          }
          .utterance {
            width: rem(558);
          }
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(100);
            .icDelete {
              width: rem(38);
              height: rem(38);
              margin-left: 15px;
              padding: rem(8);
              background-color: $grayWhite;
              border: 1px solid $gray200;
              border-radius: rem(8);
              cursor: pointer;
              background-image: url('@assets/icons/ic_utterance_delete_default.svg');
              &:hover {
                background-color: $primary100;
              }
              &:disabled {
                background-image: url('@assets/icons/ic_utterance_delete_disable.svg');
                &:hover {
                  background-color: $grayWhite;
                }
              }
            }
          }
        }
      }

      .list {
        background-color: $grayWhite;
        height: rem(54);
        border-bottom: 1px solid $gray150;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: $primary100;
        }
      }

      .emptyList {
        background-color: $grayWhite;
        height: rem(206);
        display: flex;
        justify-content: center;
        align-items: center;
        .empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: rem(56);
            height: rem(56);
          }
          span {
            margin-top: rem(10);
            font-size: rem(14);
            font-weight: rem(500);
            line-height: rem(25);
          }
        }
      }
    }
  }
}
