.utteranceWrap {
  position: relative;
  width: rem(1120);
  padding: rem(32) 0;
  margin: 0 auto;
  overflow: hidden;

  .title {
    width: 100%;
    font-size: rem(16);
    font-weight: 700;
    color: $grayBlack;
    margin-bottom: 20px;
  }
  .toSearchCard {
    padding: rem(10) rem(5);
    border: rem(1) solid $gray200;
    .cardTitle {
      font-size: rem($defaultSize);
      font-weight: 500;
    }
    .selectBox {
      min-width: rem(160);
    }
  }

  .utteranceListWrap {
    margin-top: rem(25);
    width: rem(1120);
    border: 1px solid $gray200;
    border-radius: rem(8);
    border-collapse: collapse;

    .utteranceTable {
      width: 100%;
      border-radius: rem(8);
      overflow: hidden;
      border-collapse: collapse;

      .utteranceThead {
        display: block;
        .utteranceTheadTr {
          display: flex;
          align-items: center;
          height: rem(40);
          text-align: left;
          background-color: $gray150;
        }
      }

      .utteranceTbody {
        display: block;
        max-height: calc(100vh - 400px);
        overflow-y: auto;
        .utteranceTbodyTr {
          height: rem(54);
          border-bottom: 1px solid $gray150;
          background-color: $grayWhite;
          cursor: pointer;
          text-align: left;
          align-items: center;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: $primary100;
          }
        }
        .utteranceTbodyTrSkeleton {
          display: flex;
        }
        &.utterance-popup-tbody {
          min-height: rem(249);
        }
      }
      .utteranceTbody::-webkit-scrollbar {
        width: rem(8);
        height: rem(8);
        background-color: rgba(208, 221, 255, 0);
      }
      .utteranceTbody::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: rgba(208, 221, 255, 0);
        border-radius: rem(18);
        transition: background-color 2s ease-out;
      }
      *:hover::-webkit-scrollbar-thumb {
        background-color: rgba(208, 221, 255, 0.8);
      }

      thead,
      tbody,
      tr {
        .utteranceList {
          padding: rem(12) rem(20);
        }
        .intent {
          width: rem(200);
        }

        .add {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .addBtn {
            margin-left: rem(10);
            width: rem(16);
            height: rem(16);
            border: none;
            background-image: url('@assets/icons/ic_utterance_add.svg');
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .connectScenarios {
          width: rem(300);

          &.connectScenarios-inactivated {
            color: $gray250;
          }
        }

        .utterance {
          width: rem(540);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: rem(8) rem(20);

          .icDelete {
            width: rem(38);
            height: rem(38);
            background-color: $grayWhite;
            border: 1px solid $gray200;
            border-radius: rem(8);
            cursor: pointer;
            background-image: url('@assets/icons/ic_delete_default.svg');
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
              background-color: $primary100;
            }
            &:disabled {
              background-image: url('@assets/icons/ic_delete_disable.svg');
              background-position: center;
              background-repeat: no-repeat;
              &:hover {
                background-color: $grayWhite;
              }
            }
          }
        }

        .hidden-scenarioList {
          width: rem(200);
        }
        .hidden-scenarioList-utterance {
          width: rem(760);
        }
      }

      .emptyList {
        background-color: $grayWhite;
        height: rem(206);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray500;
        overflow: hidden;

        .empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(10);
          img {
            width: rem(56);
            height: rem(56);
          }
          span {
            font-size: rem(14);
            font-weight: rem(500);
            line-height: rem(25);
          }
        }
        &.popup {
          height: rem(249);
        }
      }
    }
  }
}
