.utteranceWrap {
  position: relative;
  padding: rem(40) rem(20) rem(20) rem(20);
  max-width: rem(1140);
  margin: 0 auto;

  .title {
    width: 100%;
    font-size: rem(16);
    font-weight: 700;
    color: $grayBlack;
    margin-bottom: 20px;
  }
  .toSearchCard {
    padding: rem(10) rem(5);
    border: rem(1) solid $gray200;
    .cardTitle {
      font-size: rem($defaultSize);
      font-weight: 500;
    }
    .selectBox {
      min-width: rem(160);
    }
  }
  .utteranceListWrap {
    margin-top: rem(20);
    max-width: rem(1140);
    border: 1px solid $gray200;
    border-radius: rem(8);

    .utteranceTable {
      width: 100%;
      border-radius: rem(8);
      overflow: hidden;
      border-collapse: collapse;

      thead,
      tbody {
        tr {
          text-align: left;
          height: rem(40);
          background-color: $gray150;
          display: flex;
          align-items: center;

          .utteranceList {
            padding: rem(12) rem(20);
          }
          .intent {
            width: 20%;
          }
          .hidden-scenarioList {
            width: 40%;
          }
          .add {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .addBtn {
              margin-left: rem(10);
              width: rem(16);
              height: rem(16);
              border: none;
              background-image: url('@assets/icons/ic_utterance_add.svg');
              cursor: pointer;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .connectScenarios {
            width: 30%;
            &.connectScenarios-notActivated {
              color: $gray250;
            }
          }

          .utterance {
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(100);

            .icDelete {
              width: rem(38);
              height: rem(38);
              margin-left: 15px;
              padding: rem(8);
              background-color: $grayWhite;
              border: 1px solid $gray200;
              border-radius: rem(8);
              cursor: pointer;
              background-image: url('@assets/icons/ic_delete_default.svg');
              background-position: center;
              background-repeat: no-repeat;
              &:hover {
                background-color: $primary100;
              }
              &:disabled {
                background-image: url('@assets/icons/ic_delete_disable.svg');
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                  background-color: $grayWhite;
                }
              }
            }
          }
        }
      }

      .list {
        height: rem(54);
        border-bottom: 1px solid $gray150;
        background-color: $grayWhite;

        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: $primary100;
        }
      }

      .emptyList {
        background-color: $grayWhite;
        height: rem(206);
        display: flex;
        justify-content: center;
        align-items: center;
        .empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(10);
          img {
            width: rem(56);
            height: rem(56);
          }
          span {
            font-size: rem(14);
            font-weight: rem(500);
            line-height: rem(25);
          }
        }
      }
    }
  }

  .utterancePopupListWrap {
    height: rem(476);
    overflow-y: scroll;
  }
  // .utterancePopupListWrap::-webkit-scrollbar {
  //   width: rem(8);
  //   height: rem(8);
  //   background-color: rgba(208, 221, 255, 0);
  // }
  // .utterancePopupListWrap::-webkit-scrollbar-thumb {
  //   height: 30%;
  //   background-color: rgba(208, 221, 255, 0);
  //   border-radius: rem(18);
  //   transition: background-color 2s ease-out;
  // }
  // *:hover::-webkit-scrollbar-thumb {
  //   background-color: rgba(208, 221, 255, 0.8);
  // }
}
