html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
}

#layout {
  flex: auto;
  display: flex;
  flex-direction: column;
}

header {
  padding-left: 50px;
  height: 30px;
  border-bottom: 1px solid #ccc;
}

aside {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: black;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  z-index: 1;
}

.aside-open {
  width: 250px;
}

main {
  flex: auto;
  padding: 20px;
  padding-left: 70px;
}

footer {
  height: 25px;
  border-top: 1px solid #ccc;
}
