html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
}

#layout {
  flex: auto;
  display: flex;
  flex-direction: column;
}

header {
  height: 30px;
  border-bottom: 1px solid #ccc;
}

aside {
  width: 50px;
  height: 100%;
  background-color: black;
}

.aside-open {
  width: 250px;
}

main {
  flex: auto;
  padding: 1rem;
}

footer {
  height: 25px;
  border-top: 1px solid #ccc;
}

.border-radius-x-small {
  border-radius: 2px;
}

.border-radius-small {
  border-radius: 5px;
}

.border-radius-default {
  border-radius: 10px;
}

.border-radius-large {
  border-radius: 15px;
}

.border-radius-x-large {
  border-radius: 20px;
}
